<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>文章列表--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />

	<script type="text/javascript" src="/diyUpload/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/diyUpload/css/webuploader.css">
	<link rel="stylesheet" type="text/css" href="/diyUpload/css/diyUpload.css">
	<script type="text/javascript" src="/diyUpload/js/webuploader.html5only.min.js"></script>
	<script type="text/javascript" src="/diyUpload/js/diyUpload.js"></script>
	<!--<link rel="stylesheet" href="/build/css/news.css" media="all" />-->
	<style>
		#editor2, #editor4{
			height: 200px;
			border: 1px solid #ccc;
		}
	</style>
</head>
<body>
<div class="demoTable" style="margin-top: 5px; margin-left: 10px;">
	标题：
	<div class="layui-inline">
		<input class="layui-input layui-input-sm" name="id" id="demoReload" autocomplete="off">
	</div>
	<button class="layui-btn" data-type="reload">搜索</button>
	<button class="layui-btn" data-type="add"><i class="layui-icon">&#xe608;</i>新建热点资讯</button>
</div>

<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>

<script type="text/html" id="refuse">
	<ul class="layui-form" style="margin: 10px;">
		<div class="layui-form-item">
			<label class="layui-form-label">标题</label>
			<div class="layui-input-block">
				<input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">排序</label>
			<div class="layui-input-block">
				<input type="text" name="rank" required  lay-verify="required|number" placeholder="数字越大越靠前" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">图片</label>
			<div class="layui-input-block">
				<div id="upload"></div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">内容</label>
			<div class="layui-input-block">
				<div id="editor1">
				</div>
				<div id="editor2">
				</div>
			</div>
		</div>
		<li class="layui-form-item" style="text-align:center;">
			<button type="submit" lay-submit lay-filter="*" class="layui-btn">提交</button>
		</li>
	</ul>
</script>
<script type="text/html" id="edit">
	<ul class="layui-form" style="margin: 10px;">
		<div class="layui-form-item">
			<label class="layui-form-label">标题</label>
			<div class="layui-input-block">
				<input type="text" name="title" required value="{{d.title!=null?d.title:''}}"  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">排序</label>
			<div class="layui-input-block">
				<input type="text" name="rank" required value="{{d.rank!=null?d.rank:''}}"  lay-verify="required|number" placeholder="数字越大越靠前" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">图片</label>
			<div class="layui-input-block">
				<div id="upload2"></div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">内容</label>
			<div class="layui-input-block">
				<div id="editor3">
				</div>
				<div id="editor4">
					<p>{{d.content!=null?d.content:''}}</p>
				</div>
			</div>
		</div>
		<li class="layui-form-item" style="text-align:center;">
			<button type="submit" lay-submit lay-filter="*" class="layui-btn">提交</button>
		</li>
	</ul>
</script>
<script type="text/javascript" src="/plugins/layui/layui.js"  charset="utf-8"></script>

<script>
    function refrersh() {

        window.location.Reload();
    }
    layui.use('table', function(){
        var table = layui.table;

        //方法级渲染
        table.render({
            elem: '#LAY_table_user'

            ,url: '/hotAdvisory/ui/list'
            ,cols: [[
                /*{checkbox: true, fixed: true},*/
                {field:'id', width:80, title: 'ID', sort: true}
                ,{field:'title', width:100, title: '标题'}
                ,{field:'img', width:120, title: '图片', templet:'<div><img src="http://youmehe.oss-cn-beijing.aliyuncs.com/image/{{d.img}}"></div>'}
                ,{field:'content', width:120, title: '内容'}
                ,{field:'rank', width:165, title: '排序'}
                ,{field:'publishTime', width:165, title: '添加时间'}
                ,{fixed: 'right', width:150, align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
            ]]
            ,id: 'testReload'
            ,page: true
            ,limit: 10
            ,height: 'full-65'
        });

        var $ = layui.$,form = layui.form, active = {
            reload: function(){
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: $('#page').val //重新从第 1 页开始
                    }
                    ,where: {
                        title:demoReload.val()
                    }
                });
            },
            add: function(){
                layer.open({
                    type: 1
                    ,title:'新建热点资讯'
                    ,area:['900px','500px']
                    ,resize: false
                    ,content: $('#refuse').html()
                    ,success: function(layero,index){
                        var E = window.wangEditor;
                        var editor = new E('#editor1','#editor2');
                        editor.customConfig.uploadImgServer = '/upload',
                            editor.customConfig.uploadFileName = 'files';
                        // 或者 var editor = new E( document.getElementById('#editor') )
                        editor.create();
                        var imgs = "";
                        $('#upload').diyUpload({
                            url:'/uploads',
                            fileNumLimit:1,
                            success:function( data ) {
                                for(var i in data.data){
                                    imgs+=","+data.data[i];
                                }
                                if(imgs[0] == ','){
                                    imgs = imgs.substring(1,imgs.length);
                                }
                            },
                            error:function( err ) {
                                console.info( err );
                            }
                        });
                        form.render().on('submit(*)', function(datas){
                            datas.field.content = editor.txt.html(),
                                datas.field.img = imgs;
                            $.ajax({
                                url:'/hotAdvisory/ui/add',
                                type:'POST',
                                dataType:'json',
                                data:datas.field,
                                success:function (res) {
                                    console.log(res);
                                    if(res.code < 2000){
                                        table.reload('testReload', {
                                            page: {
                                                curr: $('#page').val, //重新从第 1 页开始
                                            }
                                        });
                                    }else {
                                        console.log(res.msg);
                                        layer.msg(res.msg);
                                    }
                                }
                            });
                            layer.close(index);
                        });
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>

<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>

<script>
    //监听工具条
    layui.use('table', function(){

        var table = layui.table,form = layui.form,$ = layui.$,laytpl=layui.laytpl;
        table.on('tool(user)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            /*if(layEvent === 'detail'){ //查看
                //do somehing
                console.log(data)
            } else */if(layEvent === 'del'){ //删除
                layer.confirm('真的要删除吗？', function(index){
                    $.ajax({
                        url:'/hotAdvisory/ui/del',
                        type:'GET',
                        dataType:'json',
                        data:{id:data.id},
                        success:function (res) {
                            console.log(res);
                            if(res.code < 2000){
                                table.reload('testReload', {
                                    page: {
                                        curr: $('#page').val, //重新从第 1 页开始
                                    }
                                });
                            }else {
                                layer.msg(res.msg);
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if(layEvent === 'edit'){ //编辑
                layer.open({
                    type: 1
                    ,title:'修改热点资讯'
                    ,area:['900px','500px']
                    ,resize: false
                    ,content: laytpl($('#edit').html()).render(data)
                    ,success: function(layero,index){
                        var E = window.wangEditor;
                        var editor = new E('#editor3','#editor4');
                        editor.customConfig.menus = [
                            'head',  // 标题
                            'bold',  // 粗体
                            'fontSize',  // 字号
                            'fontName',  // 字体
                            'italic',  // 斜体
                            'underline',  // 下划线
                            'strikeThrough',  // 删除线
                            'foreColor',  // 文字颜色
                            'backColor',  // 背景颜色
                            'link',  // 插入链接
                            'list',  // 列表
                            'justify',  // 对齐方式
                            'quote',  // 引用
                            'emoticon',  // 表情
                            'image',  // 插入图片
                            'table',  // 表格
                            'video',  // 插入视频
                            'code',  // 插入代码
                            'undo',  // 撤销
                            'redo'  // 重复
                        ];
                        editor.customConfig.uploadImgServer = '/upload',
                            editor.customConfig.uploadFileName = 'files';
                        // 或者 var editor = new E( document.getElementById('#editor') )
                        editor.create();
                        var imgs = "";
                        $('#upload2').diyUpload({
                            url:'/uploads',
                            fileNumLimit:1,
                            preImgUrl:'http://youmehe.oss-cn-beijing.aliyuncs.com/image/',
                            imgs:data.img?data.img.split(","):null,
                            success:function( data ) {
                                for(var i in data.data){
                                    imgs+=","+data.data[i];
                                }
                                if(imgs[0] == ','){
                                    imgs = imgs.substring(1,imgs.length);
                                }
                            },
                            error:function( err ) {
                                console.info( err );
                            }
                        });
                        form.render().on('submit(*)', function(datas){
                            $('.initImgBox').each(function(index,item){
                                imgs +=","+ $(this).val();
                            })
                            if(imgs[0] == ','){
                                imgs = imgs.substring(1,imgs.length);
                            }
                            datas.field.content = editor.txt.html(),
                                datas.field.img = imgs,
                                datas.field.id = data.id;
                            $.ajax({
                                url:'/hotAdvisory/ui/edit',
                                type:'POST',
                                dataType:'json',
                                data:datas.field,
                                success:function (res) {
                                    console.log(res);
                                    if(res.code < 2000){
                                        table.reload('testReload', {
                                            page: {
                                                curr: $('#page').val, //重新从第 1 页开始
                                            }
                                        });
                                    }else {
                                        console.log(res.msg);
                                        layer.msg(res.msg);
                                    }
                                }
                            });
                            layer.close(index);
                        });
                    }
                });
            }
        });
    });
</script>
<script type="text/javascript" src="https://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
</body>
</html>