<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>文章列表--layui后台管理模板</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>


</head>
<body>
<div class="demoTable" style="margin-top: 5px; margin-left: 10px;">
    <button class="layui-btn" id="addRole">新增</button>
    <button class="layui-btn" id="delDict">删除</button>
</div>
<table class="layui-table" id="table_groupt" lay-data="{id: 'testReload'}" lay-filter="user"></table>

<script type="text/javascript" src="/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/res/js/common.js"  charset="utf-8"></script>

<script type="text/html" id="can_use">
    <input style="width: 40px" type="checkbox" name="canUse" lay-skin="switch" data-id="{{d.id}}"  lay-filter="can_use" lay-text="ON|OFF" value="{{d.canUse}}" {{ d.canUse== 1 ?'checked' : '' }}>
</script>
<script type="text/html" id="addNewGroupt">
    <form class="layui-form" action="">
        <div class="layui-form" style="padding-top:30px;margin: 10px">
            <div class="layui-form-item">
                <label class="layui-form-label">分组名称：</label>
                <div class="layui-input-block" style="width: 180px">
                    <input type="text" name="groupName" required lay-verify="required" placeholder="分组名称"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block" style="width: 180px">
                    <input type="text" name="remark" required lay-verify="required" placeholder="请输入备注" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="addRoleSubmit">立即提交</button>
                </div>
            </div>
        </div>
    </form>
</script>

<script>
    function refrersh() {
        window.location.Reload();
    }

    layui.use('table', function () {
        var table = layui.table
            , form = layui.form;
        //方法级渲染
        table.render({
            elem: '#table_groupt'
            , url: '/sys/groupt/list'
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'id', width: 180, title: 'ID', sort: true}
                , {field: 'groupName', width: 220,  title: '分组名称'}
                , {field: 'crtBy', width: 160, title: '创建用户id'}
                , {field: 'publishTime', width: 160, title: '创建时间'}
                , {field: 'canUse', width: 160, title: '是否使用',templet:'#can_use'}
            ]]
            , id: 'testReload'
            , page: true
            , limit: 10
            , height: 'full-65'
        });
        form.on('switch(can_use)', function (obj) {
            var id = this.getAttribute("data-id");
            var canUse = obj.value == 1 ? 0 : 1;
            $.ajax({
                url: "/sys/groupt/upd",
                type: "Post",
                data: {
                    id: id,
                    canUse: canUse
                },
                success: function (data) {
                    location.reload();
                },
                error: function (data2) {
                }
            });
        });
        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: $('#page').val, //重新从第 1 页开始
                    }
                    , where: {
                        phone: demoReload.val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $('#delDict').on('click', function () {
            var checkStatus = table.checkStatus('testReload');
              //alert(JSON.stringify(checkStatus));
            if (checkStatus.data.length !=1) {
                meMsg("请选择一行数据");
                return;
            }
            topLayer().confirm('确定要删除吗？', {
                btn : [ '确定', '取消' ]
            }, function(index) {
                close(index)
                $.ajax({
                    url:"/sys//groupt/del?id="+checkStatus.data[0].id,
                    success:function(data){
                        if(data.code=='1001'){
                            active.reload();
                        }
                        meAlert(data.msg);
                    }
                });
            });
        });
        $('#addRole').on('click', function () {
            layer.open({
                type: 1
                , title: '新增'
                , offset: 'auto'
                , area: ['550px', '450px']
                , moveOut: true
                , resize: false
                , content: $('#addNewGroupt').html()
                , success: function (layero, index) {
                    form.render('select');
                    form.on('submit(addRoleSubmit)', function (obj) {
                        $.ajax({
                            url: "/sys/groupt/add",
                            type: "Post",
                            data: obj.field,
                            success: function (data) {
                                meMsg(data.msg);
                                location.reload();
                            },
                            error: function (data2) {
                            }
                        });
                        return false;
                    });
                }
            });
        });

    });
</script>
</body>
</html>