<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>文章列表--layui后台管理模板</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />
    <!--<link rel="stylesheet" href="/build/css/news.css" media="all" />-->
    <style>
        .layui-form-switch{
            width:55px;
            margin-top: 0;
        }
    </style>
</head>
<body>
<div class="layui-form" style="margin-top: 5px; margin-left: 10px; ">
    店铺ID：
    <div class="layui-inline">
        <input class="layui-input layui-input-sm" name="shopId"  autocomplete="off">
    </div>
    <button class="layui-btn"  lay-submit type="submit">搜索</button>
</div>

<table class="layui-hide" id="LAY_table_user"  lay-filter="user"></table>


<script type="text/javascript" src="/plugins/layui/layui.js"  charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script type="text/html" id="status">
    {{#  if(d.status == 1){ }}
    满意
    {{#  } else { }}
    不满意
    {{# } }}
</script>
<script type="text/html" id="showModel">
    {{# function getData(key) { }}
    {{# var arr = key.split('.'); }}
    {{# var temp = ''; }}
    {{# arr.forEach(function(value,index){ }}
    {{# if(index == 0){ }}
    {{# if(d[value] != null && typeof(d[value]) != 'undefined'){ }}
    {{# temp = d[value]; }}
    {{# }else{ }}
    {{# temp = ''; }}
    {{# } }}
    {{# }else { }}
    {{# if(temp[value] != null && typeof(temp[value]) != 'undefined'){ }}
    {{# temp = temp[value]; }}
    {{# }else{ }}
    {{# temp = ''; }}
    {{# } }}
    {{# } }}
    {{# }); }}
    {{# return temp; }}
    {{# } }}
    {{ getData(d.param.path) }}
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-mini" lay-event="delete">删除</a>
</script>
<script>
    function refrersh() {

        window.location.Reload();
    }
    layui.use('table', function(){
        var table = layui.table,form = layui.form,$ = layui.$;

        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            ,url: '/evaluate/ui/selectListAllForAdmin'
            ,cols: [[
                /*{checkbox: true, fixed: true},*/
                {field:'id', width:80, title: 'ID', sort: true}
                ,{field:'shopId', width:100, title: '店铺ID',templet:'#showModel?path=shop.id'}
                ,{field:'orderNum', width:120, title: '订单号',templet:'#showModel?path=order.orderNum'}
                ,{field:'shopName', width:100, title: '店铺名称',templet:'#showModel?path=shop.shopName'}
                ,{field:'shopStarNum', width:100, title: '店铺评分'}
                ,{field:'distributionStarNum', width:100, title: '骑手评分'}
                ,{field:'nickName', width:100, title: '用户昵称',templet:'#showModel?path=user.nickName'}
                ,{field:'content', width:100, title: '评论内容'}
                ,{field:'img', width:100, title: '评论图片',templet:'<div><img src="http://youmehe.oss-cn-beijing.aliyuncs.com/image/{{d.img}}"></div>'}
                ,{field:'publishTime', width:100, title: '评论时间'}
                ,{title: '是否满意', width:100, align:'center', templet: '#status'} //这里的toolbar值是模板元素的选择器
                ,{title: '删除评价',fixed: 'right', width:100, align:'center', templet: '#barDemo'} //这里的toolbar值是模板元素的选择器
            ]]
            ,id: 'testReload'
            ,page: true
            ,limit: 10
            ,height: 'full-65'
            , done: function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
            }
        });
        form.render().on('submit', function(obj){
            var data = obj.field;
            //执行重载
            table.reload('testReload', {
                page: {
                    curr: $('#page').val, //重新从第 1 页开始
                }
                ,where: {
                    shopId:data.shopId
                }
            });
        });
    });
</script>
<script>
    //监听工具条
    layui.use('table', function(){

        var table = layui.table,$ = layui.$
        table.on('tool(user)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if(layEvent === 'delete'){
                layer.confirm('您确定删除吗？', function(index){
                    layer.close(index);
                    $.ajax({
                        url:'/evaluate/ui/deleteEvaluate',
                        type:'GET',
                        dataType:'json',
                        data:{id:data.id},
                        success:function (res) {
                            console.log(res);
                            if(res.code < 2000){
                                table.reload('testReload', {
                                    page: {
                                        curr: $('#page').val, //重新从第 1 页开始
                                    }
                                });
                            }else {
                                layer.msg("该条数据存在异常请检查");
                            }
                        }
                    })
                });
            }
        });
    });
</script>
</body>
</html>