phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
#registry=https://registry.npm.taobao.org
registry=http://192.168.0.80:8081/repository/npm-public/
