<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商品分类列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>
    <script type="text/javascript" src="/plugins/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/res/js/common.js" charset="utf-8"></script>
</head>
<body>

<form class="layui-form">
    <div class="layui-form" style="padding-top:30px;margin: 10px">
        <div>
            <ul class="layui-form" style="margin: 10px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <input class="layui-hide" id="pid" name="id"  th:value="${banner.id}">
                    <div class="layui-input-block">
                        <input type="text" name="title" id="title" required lay-verify="required" placeholder="请输入标题"
                               autocomplete="off" th:value="${banner.title}"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="text" name="rank" id="rank" th:value="${banner.rank}" required
                               lay-verify="required|number"
                               placeholder="数字越大越靠前"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--banner位置-->
                <div class="layui-form-item">
                    <label class="layui-form-label">banner位置</label>
                    <div class="layui-input-block">
                        <select lay-filter="bannerLocation" id="bannerLocation" name="bannerLocation"
                                data-type="reload">
                            <option th:selected="${banner.bannerLocation==tbanner.value}" th:each="tbanner :${banners}"
                                    th:value="${tbanner.value}" th:text="${tbanner.name}"/>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">banner类型</label>
                    <div class="layui-input-block">
                        <select lay-filter="bannerType" id="bannerType" name="bannerType" data-type="reload">
                            <option  th:selected="${banner.bannerType eq tbanner.value}"
                                    th:each="tbanner :${bannerTypes}" th:value="${tbanner.value}"
                                    th:text="${tbanner.name}"/>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">跳转类型</label>
                    <div class="layui-input-block">
                        <!--跳转类型:0:站内 1:站外 2:商品-->
                        <select lay-filter="isLink" name="isLink" id="isLink" data-type="reload">
                            <option th:selected="${banner.isLink==tbanner.value}" th:each="tbanner :${bannerLocals}"
                                    th:value="${tbanner.value}" th:text="${tbanner.name}"/>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">图片</label>
                    <span id="pic_" th:if="${banner.img ne null}" class="offer"><img style="height: 20%;width: 30%"
                                                                                     th:src="${banner.img}"></span>
                    <input type="hidden" name="img" id="uploadPicVal_edit">
                    <span id="pic_url_edit"></span>
                    <button type="button" class="layui-btn" id="uploadPic_edit">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                </div>

                <div class="layui-form-item" id="shopCode2" style="display: none;">
                    <label class="layui-form-label">商品id</label>
                    <select lay-filter="isLink" id="shopCode" name="shop_code" data-type="reload">
                        <option   th:if="${banner.shopCode ne null}" th:selected="${banner.shopCode==good.id}"
                                th:each="good :${shopGoods}" th:value="${good.id}" th:text="${good.goodsName}"/>
                    </select>
                </div>
                <div class="layui-form-item" id="linkUrl2" style="display: none;">
                    <label class="layui-form-label">链接地址</label>
                    <div class="layui-input-block">
                        <input type="text" id="linkUrl" name="linkUrl" th:value="${banner.linkUrl}"
                               placeholder="请输入链接地址"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" id='content2'>
                    <input class="layui-hide" th:value="${banner.content}" id="contetn_value"/>
                    <label class="layui-form-label">内容</label>
                    <div class="layui-input-block">
                        <textarea name="content" id="demo"
                                  style="display: none;"></textarea>
                    </div>
                    <li class="layui-form-item" style="text-align:center;">
                        <button type="submit" lay-submit lay-filter="dict" class="layui-btn">
                            提交
                        </button>
                    </li>
            </ul>
        </div>
    </div>
</form>
<script>
    var form = null;
    var $ = null;
    var layedit = null;
    var ix = layui.use(['table', 'layedit', 'upload', 'form'], function () {
        form = layui.form;
        $ = layui.jquery;
        var lay = layui.layer;
        var upload = layui.upload;
        layedit = layui.layedit;
        layedit.set({
            uploadImage: {
                url: '/upload/imgToOSSByLayUi' //接口url
                , type: 'post' //默认post
            }, tool: [
                'strong' //加粗
                , 'italic' //斜体
                , 'underline' //下划线
                , 'del' //删除线
                , '|' //分割线
                , 'left' //左对齐
                , 'center' //居中对齐
                , 'right' //右对齐是
                , 'link' //超链接
                , 'unlink' //清除链接
                , 'face' //表情
                , 'image' //插入图片
                , 'help' //帮助
            ]
        });
        var index = layedit.build('demo'); //建立编辑器
        var content_val = $("#contetn_value").val();
        layedit.setContent(index, content_val, true);
        form.render().on('submit(dict)', function (datas) {
            var content = layedit.getContent(index); //获取编辑器内容
            datas.field.content = content;

            var id = $("#pid").val();
            var title = $("#title").val();
            var rank = $("#rank").val();
            var bannerLocation = $("#bannerLocation").val();
            var bannerType = $("#bannerType").val();
            var isLink = $("#isLink").val();
            var img = $("#uploadPicVal_edit").val();
            var shopCode = $("#shopCode").val()
            var linkUrl = $("#linkUrl").val();
            $.ajax({
                url: '/banner/ui/edit',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    title: title,
                    rank: rank,
                    content: content,
                    bannerLocation: bannerLocation,
                    bannerType: bannerType,
                    isLink: isLink,
                    img: img,
                    shopCode: shopCode,
                    linkUrl: linkUrl
                },
                success: function (res) {
                    window.top.layui.layer.closeAll();
                }
            });
        });
        upload.render({
            elem: '#uploadPic_edit' //绑定元素
            , url: '/upload/imgToOSS' //上传接口
            , done: function (res) {
                $("#uploadPicVal_edit").val(res.data)
                lay.msg("上传图片成功")
                //上传完毕回调
                $("#pic_").remove();
                $("#pic_url_edit").html('<img name="pic" style="width: 25%;height: 25%;" src="' + res.data + '"/>')
            }
            , error: function () {
                //请求异常回调
                lay.msg("上传图片异常")
            }
        });

    });

</script>
</body>
</html>