<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商品分类列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>
    <script type="text/javascript" src="/plugins/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/res/js/common.js" charset="utf-8"></script>
</head>
<body>
<div class="demoTable" style="margin-top: 5px; margin-left: 10px;">
    <a class="layui-btn" id="addCateGory">新增</a>
    <a class="layui-btn" id="editCateGory">编辑</a>
</div>
<div style="display: none" id="addNewCateGory">
    <form class="layui-form" action="">
        <div class="layui-form" style="padding-top:30px;margin: 10px">
            <div class="layui-form-item">
                <label class="layui-form-label">分类父类：</label>
                <div class="layui-input-block" style="width: 180px">
                    <select name="parentId">
                        <option value="0">根分类</option>
                        <option th:each="category :${categories}" th:value="${category.id}" th:text="${category.name}"/>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类名称：</label>
                <div class="layui-input-block" style="width: 180px">
                    <input type="text" style="margin-top: 10px" name="categoryName" placeholder="请输入分类名称"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图标：</label>
                <input type="hidden" value="" name="pic" id="uploadPicVal_add">
                <span id="pic_url"></span>
                <button type="button" class="layui-btn " id="uploadPic_add">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类状态：</label>
                <div class="layui-input-block" style="width: 180px">
                    <select class="layui-select" name="status">
                        <option value="1">可用</option>
                        <option value="2">禁用</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class="layui-btn" lay-submit lay-filter="addCateGorySubmit">立即提交</a>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>
</body>

<script type="text/html" id="pic">
    {{# if(d.pic != null){ }}
    <img src="{{d.pic}}"/>
    {{# } }}
</script>
<script>
    layui.use(['table', 'upload', 'form'], function () {
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var lay = layui.layer;
        var upload = layui.upload;
        //方法级渲染
        var dictTable = table.render({
            elem: '#LAY_table_user'
            , url: '/sys/category/get_category_list'
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'id', width: 80, title: 'ID', sort: true}
                , {field: 'parentId', width: 120, title: '父ID'}
                , {field: 'name', width: 120, title: '分类名称'}
                , {field: 'sortOrder', width: 100, title: '排序'}
                , {field: 'pic', width: 100, title: '图标', templet: '#pic'}
                , {field: 'createTime', width: 165, title: '创建时间'}
                , {fixed: 'right', width: 170, align: 'center', title: '状态', toolbar: '#can_use'} //这里的toolbar值是模板元素的选择器
            ]]
            , id: 'testReload'
            , page: true
            , limit: 10
            , height: 'full-65'
        });
        form.on('switch(can_use)', function (obj) {
            var id = this.getAttribute("data-id");
            var status = obj.value == 1 ? 0 : 1;
            $.ajax({
                url: "/sys/category/set_category_name",
                type: "Post",
                data: {
                    categoryId: id,
                    status: status
                },
                success: function (data) {
                    if (data.code == 2004) {
                        layer.alert(data.msg)
                    } else {
                        location.reload();
                    }
                },
            });
        });
        form.render().on('submit', function (obj) {
            var data = obj.field;
            //执行重载
            table.reload('testReload', {
                page: {
                    curr: $('#page').val, //重新从第 1 页开始
                }
                , where: {
                    idCardNo: data.idCardNo,
                    status: data.status
                }
            });
        });
        $('#addCateGory').on('click', function () {
            layer.open({
                type: 1
                , title: '新增商品分类'
                , offset: 'auto'
                , area: ['550px', '450px']
                , moveOut: true
                , resize: false
                , content: $('#addNewCateGory')
                , success: function (layero, index) {
                    form.render('select');
                    form.on('submit(addCateGorySubmit)', function (obj) {
                        $.ajax({
                            url: "/sys/category/ui/add_category",
                            type: "Post",
                            data: obj.field,
                            success: function (data) {
                                lay.msg("添加成功！");
                                LayerClose(index);
                                active.serach();
                            },
                            error: function (data2) {
                            }
                        });
                        return false;
                    });
                }
            });
        });
        $('#editCateGory').on('click', function () {
            var checkStatus = table.checkStatus('testReload');
            if (checkStatus.data.length != 1) {
                meMsg("请选择一行数据");
                return;
            }
            LayerOpen({
                type: 2
                , title: '编辑商品分类'
                , offset: 'auto'
                , area: ['550px', '450px']
                , moveOut: true
                , resize: false
                , content: '/ui/to_edit_category?id=' + checkStatus.data[0].id
                , btn: ['确定', '取消'],
                yes: function (index, layero) {
                    $(layero).find("iframe")[0].contentWindow.submitForm("dict", function (data) {
                        meMsg(data.msg);
                        if (data.code == '200') {
                            LayerClose(index);
                            active.serach();
                        }
                    })
                }
            });
        });
        var active = {
            serach: function () {
                dictTable.reload({
                    where: {
                        keyword: $("input[name='keyword']").val()
                    }
                    , page: {curr: 1}
                });
            }
        }
        //执行实例
        upload.render({
            elem: '#uploadPic_add' //绑定元素
            , url: '/upload/imgToOSS' //上传接口
            , done: function (res) {
                $("#uploadPicVal_add").val(res.data)
                lay.msg("上传图片成功")
                $("#pic_url").html('<img style="width: 25%;height: 25%;" src="' + res.data + '"/>')
                //上传完毕回调
            }
            , error: function () {
                //请求异常回调
                lay.msg("上传图片异常")
            }
        });
    });
</script>

<script type="text/html" id="can_use">
    <input style="width:250px;" type="checkbox" name="canUse" lay-skin="switch" data-id="{{d.id}}" lay-filter="can_use"
           lay-text="可用|禁用" value="{{d.status}}" {{ d.status== 1 ? 'checked' : '' }}>
</script>
</html>