<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>文章列表--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />
	<script type="text/javascript" src="/build/js/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/diyUpload/css/webuploader.css">
	<link rel="stylesheet" type="text/css" href="/diyUpload/css/diyUpload.css">
	<script type="text/javascript" src="/diyUpload/js/webuploader.html5only.min.js"></script>
	<script type="text/javascript" src="/diyUpload/js/diyUpload.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dK4agavw0Gw6wRDEDF2Zujr8"></script>
	<!--<link rel="stylesheet" href="/build/css/news.css" media="all" />-->
	<style>
		.layui-form-switch{
			width:55px;
			margin-top: 0;
		}
		#searchResultPanel{

		}
		.tangram-suggestion-main{
			z-index: 19891020;
		}
	</style>
</head>
<body>
<div class="demoTable" style="margin-top: 5px; margin-left: 10px;">
	<button class="layui-btn"  id="addUser">新增管理员</button>
</div>
<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>

<script type="text/javascript" src="/plugins/layui/layui.js"  charset="utf-8"></script>
<script type="text/javascript" src="/res/js/common.js"  charset="utf-8"></script>
<script type="text/html" id="titleTpl">
	{{#  if(d.role == 1){ }}
	A
	{{#  } else if(d.role == 2){ }}
	B
	{{#  } else if(d.role == 3){ }}
	C
	{{#  } else if(d.role == 4){ }}
	D
	{{#  } else { }}
	E
	{{# } }}
</script>
<script type="text/html" id="can_use">
	<input style="width: 40px" type="checkbox" name="canUse" lay-skin="switch" data-id="{{d.id}}" data-phone="{{d.phone}}" lay-filter="can_use" lay-text="ON|OFF" value="{{d.canUse}}" {{ d.canUse == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="addNewUser">
	<form class="layui-form" action="">
		<div class="layui-form" style="padding-top:30px;margin: 10px">
			<div class="layui-form-item">
				<label class="layui-form-label">账号：</label>
				<div class="layui-input-block" style="width: 180px">
					<input type="text" name="userName" required lay-verify="required" placeholder="请输入账户名" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">密码：</label>
				<div class="layui-input-block" style="width: 180px">
					<input type="password" style="margin-top: 10px" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">权限等级：</label>
				<div class="layui-input-block" style="width: 180px">
					<select class="layui-select" name="role">
						<option value="">请选择一个等级</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                        <option value="5">E</option>
					</select>
				</div>
			</div>
			<p style="padding: 10px 30px;">
				A. 可以在后台进行所有操作</br>
				B. 只能查看用户、家厨、骑手注册信息、但隐藏手机号及家厨地址信息。</br>
				C. 只能在上面发布公司推送消息、热点咨询、可查看和管理订单管理。</br>
				D. 只能审核家厨端提现申请及骑手端提现申请。</br>
				E. 只能审核家厨端及骑手端</br>
			</p>

			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit="" lay-filter="addUserSubmit">立即提交</button>
				</div>
			</div>
		</div>
	</form>
</script>
<script>
	function refrersh() {

		window.location.Reload();
    }
    layui.use('table', function(){
        var table = layui.table
            ,form = layui.form;
        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            ,url: '/user/ui/getAdminList'
            ,cols: [[
                /*{checkbox: true, fixed: true},*/
                {field:'id', width:180, title: 'ID', sort: true}
                ,{field:'userName', width:220, title: '管理员账号'}
//                ,{field:'password', width:220, title: '密码'}
                ,{field:'role', width:180, title: '等级', templet: '#titleTpl'}
                ,{field:'canUse', width:200, title: '是否可用',templet:'#can_use'}

            ]]
            ,id: 'testReload'
            ,page: true
			,limit: 10
            ,height: 'full-65'
        });
        form.on('switch(can_use)', function(obj){
            var id = this.getAttribute("data-id");
            var canUse = obj.value==1?0:1;
            $.ajax({
                url:"/user/ui/editAdmin",
                type:"Post",
                data:{
                    id:id,
                    canUse:canUse
                },
                success:function(data){
                    location.reload();
                },
                error:function(data2) {
                }
            });
        });
        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: $('#page').val, //重新从第 1 页开始
                    }
                    ,where: {
                        phone:demoReload.val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
<script>
    layui.use('form', function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        $('#addUser').on('click',function(){
            layer.open({
                type: 1
                ,title:'新增管理员'
                ,offset: 'auto'
                ,area: ['550px','450px']
                ,moveOut: true
                ,resize: false
                ,content: $('#addNewUser').html()
                ,success: function(layero,index){
                    form.render('select');
                    form.on('submit(addUserSubmit)', function(obj){
                        if(obj.field.role==""){
                            alert("请选择管理权限");
                            return false;
                        }
                        if(!(/(.+){5,12}$/.test(obj.field.password))){
                            alert("密码必须大于5位");
                            return false;
                        }
                        $.ajax({
                            url:"/user/ui/addAdminUser",
                            type:"Post",
                            data:obj.field,
                            success:function(data){
                                alert("添加成功！");
                                location.reload();
                            },
                            error:function(data2) {
                            }
                        });
                        return false;
                    });
                }
            });
        });
    });
</script>
</body>
</html>