<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>文章列表--layui后台管理模板</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>
    <script type="text/javascript" src="/build/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/diyUpload/css/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/diyUpload/css/diyUpload.css">
    <script type="text/javascript" src="/diyUpload/js/webuploader.html5only.min.js"></script>
    <script type="text/javascript" src="/diyUpload/js/diyUpload.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dK4agavw0Gw6wRDEDF2Zujr8"></script>
    <!--<link rel="stylesheet" href="/build/css/news.css" media="all" />-->
</head>
<body>
<div class="demoTable" style="margin-top: 5px; margin-left: 10px;">
    手机号：
    <div class="layui-inline">
        <input class="layui-input layui-input-sm" name="id" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
    <button class="layui-btn" data-type="recommendUser"   >推荐商家</button>
</div>

<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>


<script type="text/javascript" src="/plugins/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script type="text/html" id="titleTpl">
    {{#  if(d.shopId == 1){ }}
    男
    {{#  } else if(d.shopId == 0){ }}
    女
    {{#  } else { }}
    未填写
    {{# } }}
</script>
<script type="text/html" id="shopModel">
    {{# function getData(key) { }}
    {{# var arr = key.split('.'); }}
    {{# var temp = ''; }}
    {{# arr.forEach(function(value,index){ }}
    {{# if(index == 0){ }}
    {{# if(d[value] != null && typeof(d[value]) != 'undefined'){ }}
    {{# temp = d[value]; }}
    {{# }else{ }}
    {{# temp = ''; }}
    {{# } }}
    {{# }else { }}
    {{# if(temp[value] != null && typeof(temp[value]) != 'undefined'){ }}
    {{# temp = temp[value]; }}
    {{# }else{ }}
    {{# temp = ''; }}
    {{# } }}
    {{# } }}
    {{# }); }}
    {{# return temp; }}
    {{# } }}

    {{ getData(d.param.path) }}
</script>
<script type="text/html" id="shopModel2">
    <div class="ccccc">{{d.phone}}</div>
</script>
<script type="text/html" id="shopModel3">
    {{# function getData(key) { }}
    {{# var arr = key.split('.'); }}
    {{# var temp = ''; }}
    {{# arr.forEach(function(value,index){ }}
    {{# if(index == 0){ }}
    {{# if(d[value] != null && typeof(d[value]) != 'undefined'){ }}
    {{# temp = d[value]; }}
    {{# }else{ }}
    {{# temp = ''; }}
    {{# } }}
    {{# }else { }}
    {{# if(temp[value] != null && typeof(temp[value]) != 'undefined'){ }}
    {{# temp = temp[value]; }}
    {{# }else{ }}
    {{# temp = ''; }}
    {{# } }}
    {{# } }}
    {{# }); }}
    {{# return temp; }}
    {{# } }}

    <div class="ccccc">{{ getData(d.param.path) }}</div>
</script>
<script type="text/html" id="img">
    {{# function getData(key) { }}
    {{# var arr = key.split('.'); }}
    {{# var temp = ''; }}
    {{# arr.forEach(function(value,index){ }}
    {{# if(index == 0){ }}
    {{# if(d[value] != null && typeof(d[value]) != 'undefined'){ }}
    {{# temp = d[value]; }}
    {{# }else{ }}
    {{# temp = ''; }}
    {{# } }}
    {{# }else { }}
    {{# if(temp[value] != null && typeof(temp[value]) != 'undefined'){ }}
    {{# temp = temp[value]; }}
    {{# }else{ }}
    {{# temp = ''; }}
    {{# } }}
    {{# } }}
    {{# }); }}
    {{# return temp; }}
    {{# } }}
    <img src='http://youmehe.oss-cn-beijing.aliyuncs.com/image/{{getData(d.param.path)}}'/>
</script>
<script type="text/html" id="can_use">
    <input style="width: 40px" type="checkbox" name="canUse" lay-skin="switch" data-id="{{d.id}}"
           data-shopId="{{d.shopId}}" lay-filter="can_use" lay-text="ON|OFF" value="{{d.canUse}}" {{ d.canUse== 1
           ? 'checked' : '' }}>
</script>
<script type="text/html" id="is_waiting">
    <input style="width: 40px" type="checkbox" name="isWaiting" lay-skin="switch" data-id="{{d.id}}"
           data-shopId="{{d.shopId}}" lay-filter="is_waiting" lay-text="ON|OFF" value="{{d.isWaiting}}" {{ d.isWaiting==
           1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="is_check">
    <input style="width: 40px" type="checkbox" name="isCheck" lay-skin="switch" data-id="{{d.id}}"
           data-shopId="{{d.shopId}}" lay-filter="is_check" lay-text="ON|OFF" value="{{d.isCheck}}" {{ d.isCheck== 1
           ? 'checked' : '' }}>
</script>
<script type="text/html" id="addNewShop">
    {{#  if(d.shopId==null){ }}
    <a class="layui-btn layui-btn-mini" lay-event="addShop">添加店铺</a>
    {{#  } else { }}
    当前用户已有店铺
    {{# } }}
</script>
<script type="text/html" id="addNewUser">
    <form class="layui-form" action="">
        <div class="layui-form" style="padding-top:30px;margin: 10px">
            <div class="layui-form-item">
                <label class="layui-form-label">手机号：</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" required lay-verify="required" placeholder="请输入手机号"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码：</label>
                <div class="layui-input-block">
                    <input type="password" style="margin-top: 10px" name="password" required lay-verify="required"
                           placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                </div>
            </div>
        </div>
    </form>
</script>
<script type="text/html" id="recommendUserPage">
    <form class="layui-form" action="">
        <div class="layui-form" style="padding-top:30px;margin: 10px">
            <div class="layui-form-item">
                <label class="layui-form-label">手机号：</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" required lay-verify="required" placeholder="请输入手机号"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码：</label>
                <div class="layui-input-block">
                    <input type="password" style="margin-top: 10px" name="password" required lay-verify="required"
                           placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                </div>
            </div>
        </div>
    </form>
</script>
<script type="text/html" id="addShopDiv">
    <form class="layui-form" action="">
        <div class="layui-form" style="padding-top:30px;margin: 10px">
            <input type="text" id="userId" name="shopUserId" readonly="readonly" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label">店铺名：</label>
                <div class="layui-input-block">
                    <input type="text" name="shopName" placeholder="请输入店铺名" lay-filter="jiexi_address"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="padding-left: 78px;">
                省：
                <div class="layui-inline" style="width: 100px;">
                    <select class="layui-select" name="provinceId" lay-search="" id="provinceId" lay-filter="province"
                            lay-verify="">
                        <!--<option value="">请选择一个类型</option>
                        <option value="1">未处理</option>
                        <option value="2">已处理</option>-->
                    </select>
                </div>
                市：
                <div class="layui-inline" style="width: 100px;">
                    <select class="layui-select" name="cityId" lay-search="" id="citySelect" lay-filter="city"
                            lay-verify="">
                        <!--<option value="">请选择一个类型</option>
                        <option value="1">未处理</option>
                        <option value="2">已处理</option>-->
                    </select>
                </div>
                区:
                <div class="layui-inline" style="width: 100px;">
                    <select class="layui-select" name="areaId" lay-search="" id="areaSelect" lay-filter="area"
                            lay-verify="">
                        <!--<option value="">请选择一个类型</option>
                        <option value="1">未处理</option>
                        <option value="2">已处理</option>-->
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">地址：</label>
                <div class="layui-input-block">
                    <input type="text" name="address" id="shopAddress" placeholder="请输入地址" lay-filter="jiexi_address"
                           class="layui-input">
                    <div id="searchResultPanel"
                         style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                </div>
                <div id="bmap" style="width: 500px;height: 400px;margin-top: 15px;margin-left: 111px"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">经纬度：</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" id="longitude" name="longitude" placeholder="经度" readonly="readonly"
                           class="layui-input">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" id="latitude" name="latitude" placeholder="纬度" readonly="readonly"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">店铺头像</label>
                <div class="layui-input-block">
                    <div id="upload2"></div>
                    <input type="text" id="headImg" name="headImg" readonly="readonly" style="display: none">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="addShopSubmit">立即提交</button>
                </div>
            </div>
        </div>
    </form>
</script>
<script type="text/html" id="barDemo">
    {{# if(d.isCheck == 0||d.isCheck == null){ }}
    <a class="layui-btn layui-btn-mini" lay-event="edit">同意申请</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" data-type="test" lay-event="del">拒绝申请</a>
    {{# } }}
</script>
<script>
    function refrersh() {
        window.location.Reload();
    }

    layui.use('table', function () {
        var table = layui.table
            , form = layui.form
            , $ = layui.jquery
            , layer = layui.layer;
        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            , url: '/shopUser/ui/getUserList'
            , cols: [[
                {checkbox: true, fixed: true},
                {field: 'id', width: 80, title: 'ID', sort: true}
                , {field: 'canUse', width: 100, title: '是否可用', templet: '#can_use'}
                , {field: 'isCheck', width: 130, title: '是否积分抵扣', templet: '#is_check'}
                , {field: 'isWaiting', width: 130, title: '是否免商品审核', templet: '#is_waiting'}
                , {field: 'phone', width: 120, title: '手机号', templet: '#shopModel2'}
                , {field: 'headImg', width: 100, title: '店铺头像', templet: '#img?path=shop.headImg'}
                , {field: 'shopName', width: 100, title: '店铺名称', templet: '#shopModel?path=shop.shopName'}
                , {field: 'address', width: 100, title: '店铺地址', templet: '#shopModel3?path=shop.address'}
                , {field: 'announcement', width: 100, title: '公告', templet: '#shopModel?path=shop.announcement'}
                , {
                    field: 'distributionFee',
                    width: 100,
                    title: '店铺配送费',
                    templet: '#shopModel?path=shop.distributionFee'
                }
                , {field: 'accessVolume', width: 100, title: '访问量', templet: '#shopModel?path=shop.accessVolume'}
                , {field: 'tradingVolume', width: 100, title: '今日交易额', templet: '#shopModel?path=shop.tradingVolume'}
                , {field: 'deliveryFee', width: 100, title: '起送费', templet: '#shopModel?path=shop.deliveryFee'}
                , {field: 'starNum', width: 100, title: '星数', templet: '#shopModel?path=shop.starNum'}
                , {field: 'loginIp', width: 131, title: '登陆IP'}
                , {field: 'lastLoginTime', width: 160, title: '最后登陆时间'}
                , {field: 'publishTime', width: 160, title: '注册时间'}
                , {fixed: 'right', width: 160, align: 'center', title: '审核状态', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
                /* ,{field:'newShop',fixed: 'right' ,width:150, title: '添加店铺',templet:'#addNewShop'}*/
            ]]
            , id: 'testReload'
            , page: true
            , limit: 10
            , height: 'full-65'
        });
        form.on('switch(can_use)', function (obj) {
            var id = this.getAttribute("data-id");
            var shopId = this.getAttribute("data-shopId");
            var canUse = obj.value == 1 ? 0 : 1;
            $.ajax({
                url: "/shopUser/ui/edit",
                type: "Post",
                data: {
                    id: id,
                    canUse: canUse
                },
                success: function (data) {
                    location.reload();
                    $.ajax({
                        url: "/shop/ui/edit",
                        type: "Post",
                        data: {
                            id: shopId,
                            canUse: canUse
                        },
                        success: function (data) {
                            if (data.code == 2004) {
                                layer.alert(data.msg)
                            } else {
                                location.reload();
                            }
                        }
                    });
                },
                error: function (data2) {
                }
            });
        });
        form.on('switch(is_waiting)', function (obj) {
            var id = this.getAttribute("data-id");
            var shopId = this.getAttribute("data-shopId");
            var isWaiting = obj.value == 1 ? 0 : 1;
            $.ajax({
                url: "/shopUser/ui/edit",
                type: "Post",
                data: {
                    id: id,
                    isWaiting: isWaiting
                },
                success: function (data) {
                    if (data.code == 2004) {
                        layer.alert(data.msg)
                    } else {
                        location.reload();
                    }
                },
                error: function (data2) {
                }
            });
        });
        form.on('switch(is_check)', function (obj) {
            var id = this.getAttribute("data-id");
            var shopId = this.getAttribute("data-shopId");
            var isCheck = obj.value == 1 ? 0 : 1;
            $.ajax({
                url: "/shopUser/ui/edit",
                type: "Post",
                data: {
                    id: id,
                    isCheck: isCheck
                },
                success: function (data) {
                    if (data.code == 2004) {
                        layer.alert(data.msg)
                    } else {
                        location.reload();
                    }
                },
                error: function (data2) {
                }
            });
        });

        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: $('#page').val, //重新从第 1 页开始
                    }
                    , where: {
                        phone: demoReload.val()
                    }
                });
            },
            recommendUser:function () {
                var checkStatus = table.checkStatus('testReload');
                if (checkStatus.data.length != 1) {
                    layer.msg("请选择一行数据", {
                        time: 2000, //20s后自动关闭
                    });
                    return;
                }
                layer.open({
                    type: 1
                    , title: '推荐商家用户'
                    , offset: 'auto'
                    , area: ['400px', '350px']
                    , moveOut: true
                    , resize: true
                    , content: $('#recommendUserPage').html()
                    , success: function (layero, index) {
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //var table = layui.table,layer = layui.layer,$ = layui.$,form = layui.form,laytpl=layui.laytpl;

        table.on('tool(user)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            console.log(obj);
            /*if(layEvent === 'detail'){ //查看
                //do somehing
                console.log(data)
            } else */

            if (layEvent === 'del') { //删除
                layer.open({
                    type: 1
                    , title: '拒绝原因'
                    , area: '300px'
                    , resize: false
                    , content: $('#refuse').html()
                    , success: function (layero, index) {
                        layero.find('.layui-layer-content').css('overflow', 'visible');
                        form.render().on('submit(*)', function (datas) {
                            $.ajax({
                                url: '/shopUser/ui/refuse',
                                type: 'POST',
                                dataType: 'json',
                                data: {id: data.id, desc: datas.field.desc},
                                success: function (res) {
                                    console.log(res);
                                    if (res.code < 2000) {
                                        /*obj.update({
                                            status: '审核拒绝',
                                            desc: datas.field.desc
                                        });*/
                                        table.reload('testReload', {
                                            page: {
                                                curr: $('#page').val, //重新从第 1 页开始
                                            }
                                        });
                                    } else {
                                        layer.msg(res.msg);
                                    }
                                }
                            })
                            layer.close(index);
                        });
                    }
                });
            } else if (layEvent === 'edit') { //编辑
                layer.confirm('您确定同意吗？', function (index) {
                    layer.close(index);
                    $.ajax({
                        url: '/shopUser/ui/adopt',
                        type: 'POST',
                        dataType: 'json',
                        data: {id: data.id},
                        success: function (res) {
                            console.log(res);
                            if (res.code < 2000) {
                                table.reload('testReload', {
                                    page: {
                                        curr: $('#page').val, //重新从第 1 页开始
                                    }
                                });
                            } else {
                                layer.msg("该条数据存在异常请检查");
                            }
                        }
                    })
                });
            }
        });
    });
</script>

<script type="text/html" id="refuse">
    <ul class="layui-form" style="margin: 10px;">
        <li class="layui-form-item">
            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
        </li>
        <li class="layui-form-item" style="text-align:center;">
            <button type="submit" lay-submit lay-filter="*" class="layui-btn">提交</button>
        </li>
    </ul>
</script>

<script>
    //用于地图标注 - 公共变量
    var mapMarker = null;
    //新增用户
    $('#addUser').on('click', function () {
        layer.open({
            type: 1
            , title: '新增商家用户'
            , offset: 'auto'
            , area: ['400px', '350px']
            , moveOut: true
            , resize: false
            , content: $('#addNewUser').html()
            , success: function (layero, index) {

            }
        });
    });

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;


        //监听提交
        form.on('submit(demo1)', function (obj) {
            if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(obj.field.phone))) {
                alert("不是完整的11位手机号或者正确的手机号前七位");
                return false;
            }
            if (!(/(.+){6,12}$/.test(obj.field.password))) {
                alert("密码必须大于6位");
                return false;
            }
            $.ajax({
                url: "/shopUser//ui/addUserForAdmin",
                type: "Post",
                data: obj.field,
                success: function (data) {
                    if (data.code == 2004) {
                        layer.alert(data.msg)
                    } else {
                        location.reload();
                    }
                }
            });
            return false;
        });


    });
    layui.use('table', function () {

        var table = layui.table, form = layui.form, $ = layui.$
        table.on('tool(user)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'addShop') {
                layer.open({
                    type: 1
                    , title: '新增店铺'
                    , offset: 'auto'
                    , area: ['700px', '450px']
                    , moveOut: true
                    , resize: false
                    , content: $('#addShopDiv').html()
                    , success: function (layero, index) {
                        $("#userId").val(data.id);
                        //初始化百度地图
                        var map = new BMap.Map("bmap");
                        var points = new BMap.Point(104.072431, 30.663215);
                        map.centerAndZoom(points, 13);
                        map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
                        var mapMarker = new BMap.Marker(points);
                        map.addOverlay(mapMarker);
                        setjy(points);
                        mapMarker.enableDragging(); //设置标注可拖拽
                        mapMarker.addEventListener("dragend", getPoints);
                        zhiti(map); //添加输入智能提示

                        var imgs = "";
                        $('#upload2').diyUpload({
                            url: '/uploads',
                            fileNumLimit: 1,
                            preImgUrl: 'http://youmehe.oss-cn-beijing.aliyuncs.com/image/',
                            imgs: data.img ? data.img.split(",") : null,
                            success: function (data) {
                                for (var i in data.data) {
                                    imgs += "," + data.data[i];
                                }
                                if (imgs[0] == ',') {
                                    imgs = imgs.substring(1, imgs.length);
                                }
                                $("#headImg").val(imgs);
                            },
                            error: function (err) {
                            }
                        });
                        $(function () {
                            $("#provinceId").empty();
                            $.ajax({
                                url: "/provinces/list",
                                type: "GET",
                                success: function (data) {
                                    $('<option value="">直接选择或搜索选择</option>').appendTo("#provinceId");

                                    $.each(data.data, function (index, d) {
                                        $("<option value=" + d.id + ">" + d.provinceName + "</option>").appendTo("#provinceId");
                                    });
                                    form.render('select');
                                },
                                error: function (data2) {
                                }
                            });

                        });

                        form.on('select(province)', function (data) {
                            var provinceId = data.value;
                            $("#citySelect").empty();
                            $.ajax({
                                url: "/citys/list?provinceId=" + provinceId,
                                type: "GET",
                                success: function (data) {
                                    $('<option value="">直接选择或搜索选择</option>').appendTo("#citySelect");

                                    $.each(data.data, function (index, d) {
                                        $("<option value=" + d.id + ">" + d.cityName + "</option>").appendTo("#citySelect");

                                    })
                                    form.render('select');
                                },
                                error: function (data2) {
                                }
                            });
                        });
                        form.on('select(city)', function (data) {
                            var cityId = data.value;
                            $("#areaSelect").empty();
                            $.ajax({
                                url: "/areas/list?cityId=" + cityId,
                                type: "GET",
                                success: function (data) {
                                    $('<option value="">直接选择或搜索选择</option>').appendTo("#areaSelect");

                                    $.each(data.data, function (index, d) {
                                        $("<option value=" + d.id + ">" + d.areaName + "</option>").appendTo("#areaSelect");

                                    })
                                    form.render('select');
                                },
                                error: function (data2) {
                                }
                            });
                        });
                        form.on('select(area)', function (data) {
                            form.render('select');
                        });
                        //        //监听提交
                        form.on('submit(addShopSubmit)', function (obj) {
                            var errorField = '';
                            $.each(obj.field, function (index, d) {
                                if (index != 'file' && (d == null || d == '')) {
                                    errorField = '请完善数据：' + index;
                                    alert(errorField);
                                    return false;
                                }
                            });
                            if (errorField != '') {
                                return false;
                            }
                            $.ajax({
                                url: "/shop/ui/addShopForAdmin",
                                type: "POST",
                                data: obj.field,
                                success: function (data) {
                                    if (data.code == 2004) {
                                        layer.alert(data.msg)
                                    } else {
                                        location.reload();
                                    }
                                }
                            });
                            return false;
                        });
                        //监听弹窗滚动事件
//                        $('.layui-layer-content').on('scroll',function(){
//                            var top = $('.tangram-suggestion-main').css('top').replace('px','') - 0;
//                            console.log(top,$(this).scrollTop());
//                            $('.tangram-suggestion-main').css('top',$(this).scrollTop());
//                        });
                    }
                });
            }
        });
    });

    //百度地图智能提示
    function zhiti(map) {
        var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
            {
                "input": "shopAddress"
                , "location": map
            });

        ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
            var str = "";
            var _value = e.fromitem.value;
            var value = "";
            if (e.fromitem.index > -1) {
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

            value = "";
            if (e.toitem.index > -1) {
                _value = e.toitem.value;
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
            document.querySelector("#searchResultPanel").innerHTML = str;
        });

        var myValue;
        ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
            var _value = e.item.value;

            myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
            document.querySelector("#searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
            $('#inaddress').val(myValue);
            setPlace();
        });

        function setPlace() {
            map.clearOverlays();    //清除地图上所有覆盖物
            function myFun() {
                map.clearOverlays();
                map.removeEventListener("dragend", getPoints);
                var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
                map.centerAndZoom(pp, 18);
                var npoint = new BMap.Point(pp.lng, pp.lat);
                mapMarker = new BMap.Marker(npoint);
                map.addOverlay(mapMarker);    //添加标注
                setjy(pp);
                mapMarker.enableDragging(); //设置标注可拖拽
                mapMarker.addEventListener("dragend", getPoints);
            }

            var local = new BMap.LocalSearch(map, { //智能搜索
                onSearchComplete: myFun
            });
            local.search(myValue);
        }
    }

    function getPoints(mark) {
        var p = mapMarker.getPosition();  //获取marker的位置
        setjy(p);
        var myGeo = new BMap.Geocoder();
        // 根据坐标得到地址描述
        myGeo.getLocation(p, function (result) {
            if (result) {
                alert(result.address);
                $('#shopAddress').val(result.address);
            }
        });
    }

    function setjy(point) {
        $('#longitude').val(point.lng);
        $('#latitude').val(point.lat);
    }
</script>
</body>
</html>