<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="<%=basePath %>" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>平台菜单</title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>
</head>
<body class="layui-layout-body">
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-btn-group">
                <button class="layui-btn" id="addRole">新增</button>
                <button class="layui-btn" id="delDict">删除</button>
            </div>
        </div>
    </div>
    <table id="menuList" lay-filter="menuList">

    </table>

    <script type="text/javascript" src="/plugins/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/res/js/common.js"  charset="utf-8"></script>
    <script type="text/javascript" src="/plugins/layui/config.js"  charset="utf-8"></script>
    <script type="text/javascript">
        layui.use(['treeGrid','table'], function () {
            var treeGrid = layui.treeGrid; //很重要
            var $  = layui.jquery, table = layui.treeGrid;
            table.render({
                elem: '#menuList'
                ,cellMinWidth: 100
                ,spread:true
                ,url:'/menu/sys/allMenuList'
                ,treeId:'menuId'           //树形id字段名称
                ,treeUpId:'parentId'       //树形父id字段名称
                ,treeShowName:'name'        //以树形式显示的字段
                ,cols: [[
                    {type: 'checkbox'}
                    ,{field:'menuId', width:'100', title: '编号'}
                    ,{field:'name', width:'300', title: '名称'}
                    ,{field:'url', width:'400', title: '地址'}
                    ,{field:'type', width:'100', title: '类型',templet:function(d){
                        if(d.type == 0){
                            return "目录";
                        }else if(d.type == 1){
                            return "菜单";
                        }else if(d.type == 2){
                            return "按钮";
                        }
                        }
                    }
                ]]
                ,page:false
            });

            $('#delDict').on('click', function () {
                var checkStatus= treeGrid.checkStatus('treeTable')
                if (checkStatus.data.length !=1) {
                    meMsg("请选择一行数据");
                    return;
                }
                topLayer().confirm('确定要删除吗？', {
                    btn : [ '确定', '取消' ]
                }, function(index) {
                    close(index)
                    $.ajax({
                        url:"/menu/sys/delMneu?menuId="+checkStatus.data[0].menuId,
                        success:function(data){
                            if(data.code=='1001'){
                                table.reload("treeTable");
                            }
                            meAlert(data.msg);
                        }
                    });
                });
            });
        });

    </script>
</body>
</html>
