<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>巨商u客商城</title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="/build/css/app.css" media="all">
    <link rel="stylesheet" href="/build/css/themes/light.css" media="all">
</head>

<body class="kit-theme">
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">巨商u客商城</div>
        <div class="layui-logo kit-logo-mobile">K</div>
        <ul class="layui-nav layui-layout-right kit-nav">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${username}">
                </a>
            </li>
            <li class="layui-nav-item"><span id="userName" style="width: 100px;height: 50px"></span></li>
            <li class="layui-nav-item" style="cursor:pointer;width: 100px;text-align: center" id="editPassword"><i
                    class="fa fa-sign-out" aria-hidden="true"></i> 修改密码
            </li>
            <li class="layui-nav-item"><a href="/ui/loginOut"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black kit-side">
        <div class="layui-side-scroll">
            <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="kitNavbar" kit-navbar>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 用户中心</span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target
                               data-options="{url:'/ui/userList',icon:'&#xe6c6;',title:'用户列表',id:'a1'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 用户列表</span></a>
                        </dd>
                        <dd>
                            <a href="javascript:;" kit-target
                               data-options="{url:'./shopUserList',icon:'&#xe6c6;',title:'商家列表',id:'a2'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 商家列表</span></a>
                        </dd>
                        <dd>
                            <a href="javascript:;" kit-target
                               data-options="{url:'/ui/distributionUserList',icon:'&#xe6c6;',title:'配送员用户',id:'a3'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 配送员用户</span></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 首页管理</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'/ui/distribitionUserApplyList',icon:'&#xe658;',title:'店铺分类',id:'b1'}"><i
                                class="layui-icon">&#xe658;</i><span>秒杀列表</span></a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'/ui/shopUserApplyList',icon:'&#xe658;',title:'店铺审核',id:'b2'}"><i
                                class="layui-icon">&#xe658;</i><span>通知管理</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 店铺管理</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'/ui/distribitionUserApplyList',icon:'&#xe658;',title:'店铺分类',id:'b1'}"><i
                                class="layui-icon">&#xe658;</i><span>店铺分类</span></a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'/ui/shopUserList',icon:'&#xe658;',title:'店铺列表',id:'b2'}"><i
                                class="layui-icon">&#xe658;</i><span>店铺列表</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 活动管理</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'/ui/bannerList',icon:'&#xe658;',title:'banner列表',id:'c1'}"><i
                                class="layui-icon">&#xe658;</i><span>banner列表</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 商品管理</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'/ui/goods_index',icon:'&#xe658;',title:'商品列表',id:'d1'}"><i
                                class="layui-icon">&#xe658;</i><span>商品列表</span></a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'/ui/goods_category_index',icon:'&#xe658;',title:'商品分类',id:'d2'}"><i
                                class="layui-icon">&#xe658;</i><span>商品分类</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" id="D">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 财务管理</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'/ui/distribitionUserApplyList',icon:'&#xe658;',title:'骑手端提现申请列表',id:'e1'}"><i
                                class="layui-icon">&#xe658;</i><span>骑手端提现申请列表</span></a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'/ui/shopUserApplyList',icon:'&#xe658;',title:'商家端提现申请列表',id:'e2'}"><i
                                class="layui-icon">&#xe658;</i><span>商家端提现申请列表</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 优惠券</span></a>
                    <dl class="layui-nav-child">
                        <dd id="C4"><a href="javascript:;" kit-target
                                       data-options="{url:'/ui/couponList',icon:'&#xe658;',title:'优惠券列表',id:'14'}"><i
                                class="layui-icon">&#xe658;</i><span>优惠券列表</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 订单中心</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'/ui/orderList',icon:'&#xe658;',title:'订单列表',id:'5'}"><i
                                class="layui-icon">&#xe658;</i><span>订单列表</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 系统管理</span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target
                               data-options="{url:'/ui/dictIndex',icon:'&#xe6c6;',title:'数据字典',id:'h1'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 数据字典</span></a>
                        </dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target
                               data-options="{url:'/ui/grouptIndex',icon:'&#xe6c6;',title:'分组列表',id:'h2'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 分组列表</span></a>
                        </dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target
                               data-options="{url:'/ui/roleIndex',icon:'&#xe6c6;',title:'角色列表',id:'h3'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 角色列表</span></a>
                        </dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target
                               data-options="{url:'/ui/menuIndex',icon:'&#xe6c6;',title:'菜单列表',id:'h4'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 菜单列表</span></a>
                        </dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target
                               data-options="{url:'/ui/adminUserList',icon:'&#xe6c6;',title:'管理员列表',id:'h5'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 管理员列表</span></a>
                        </dd>
                    </dl>
                </li>
            </ul>

           <!-- &lt;!&ndash;妈妈会功夫&ndash;&gt;
            <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
            &lt;!&ndash; 左侧导航区域（可配合layui已有的垂直导航） &ndash;&gt;
            <ul class="layui-nav layui-nav-tree" lay-filter="kitNavbar" kit-navbar>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 提现申请</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'./distribitionUserApplyList',icon:'&#xe658;',title:'骑手端提现申请列表',id:'12'}"><i
                                class="layui-icon">&#xe658;</i><span>骑手端提现申请列表</span></a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'./shopUserApplyList',icon:'&#xe658;',title:'商家端提现申请列表',id:'13'}"><i
                                class="layui-icon">&#xe658;</i><span>商家端提现申请列表</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 用户管理</span></a>
                    <dl class="layui-nav-child">
                        <dd id="B1">
                            <a href="javascript:;" kit-target
                               data-options="{url:'./userList',icon:'&#xe6c6;',title:'用户端用户',id:'1'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 用户端用户</span></a>
                        </dd>
                        <dd id="B2">
                            <a href="javascript:;" kit-target
                               data-options="{url:'./shopUserList',icon:'&#xe6c6;',title:'商家端用户',id:'2'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 商家端用户</span></a>
                        </dd>
                        <dd id="B3">
                            <a href="javascript:;" kit-target
                               data-options="{url:'./distributionUserList',icon:'&#xe6c6;',title:'骑手端用户',id:'3'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 骑手端用户</span></a>
                        </dd>
                        <dd id="B4">
                            <a href="javascript:;" kit-target
                               data-options="{url:'./adminUserList',icon:'&#xe6c6;',title:'管理员列表',id:'33'}">
                                <i class="fa fa-user" aria-hidden="true"></i><span> 管理员列表</span></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 商家申请</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'./shopExamineList',icon:'&#xe658;',title:'商家申请',id:'4'}"><i
                                class="layui-icon">&#xe658;</i><span>商家申请</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" id="O">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 订单管理</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'./orderList',icon:'&#xe658;',title:'订单列表',id:'5'}"><i
                                class="layui-icon">&#xe658;</i><span>订单列表</span></a></dd>
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'./evaluateList',icon:'&#xe658;',title:'评价管理',id:'20'}"><i
                                class="layui-icon">&#xe658;</i><span>评价管理</span></a></dd>
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'./wishList',icon:'&#xe658;',title:'心愿管理',id:'21'}"><i
                                class="layui-icon">&#xe658;</i><span>心愿管理</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" id="X">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 系统消息</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'./msgList',icon:'&#xe658;',title:'消息列表',id:'6'}"><i
                                class="layui-icon">&#xe658;</i><span>消息列表</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" id="C">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> app管理</span></a>
                    <dl class="layui-nav-child">
                        <dd id="C1"><a href="javascript:;" kit-target
                                       data-options="{url:'./bannerList',icon:'&#xe658;',title:'banner列表',id:'7'}"><i
                                class="layui-icon">&#xe658;</i><span>banner列表</span></a></dd>
                        <dd id="C2"><a href="javascript:;" kit-target
                                       data-options="{url:'./hotAdvisoryList',icon:'&#xe658;',title:'热点资讯列表',id:'8'}"><i
                                class="layui-icon">&#xe658;</i><span>热点资讯列表</span></a></dd>
                        <dd id="C3"><a href="javascript:;" kit-target
                                       data-options="{url:'./advertisementList',icon:'&#xe658;',title:'广告列表',id:'9'}"><i
                                class="layui-icon">&#xe658;</i><span>广告列表</span></a></dd>
                        <dd id="C4"><a href="javascript:;" kit-target
                                       data-options="{url:'./couponList',icon:'&#xe658;',title:'优惠券列表',id:'14'}"><i
                                class="layui-icon">&#xe658;</i><span>优惠券列表</span></a></dd>
                        <dd id="C5"><a href="javascript:;" kit-target
                                       data-options="{url:'./dictionaryList',icon:'&#xe658;',title:'综合配置',id:'15'}"><i
                                class="layui-icon">&#xe658;</i><span>综合配置</span></a></dd>
                        <dd id="C6"><a href="javascript:;" kit-target
                                       data-options="{url:'./versionList',icon:'&#xe658;',title:'更新设置',id:'10'}"><i
                                class="layui-icon">&#xe658;</i><span>更新设置</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" id="Y">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 意见反馈</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" kit-target
                               data-options="{url:'./feedbackList',icon:'&#xe658;',title:'意见反馈列表',id:'11'}"><i
                                class="layui-icon">&#xe658;</i><span>意见反馈列表</span></a></dd>
                    </dl>
                </li>
            </ul>-->

        </div>
    </div>
    <div class="layui-body" id="container">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">主体内容加载中,请稍等...</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        2018 &copy;
        <a href="http://kit.zhengjinfan.cn/">kit.zhengjinfan.cn/</a> MIT license
    </div>
</div>
<script type="text/javascript" src="/build/js/jquery-1.9.1.min.js"></script>
<script src="/plugins/layui/layui.js"></script>
<script type="text/html" id="editPasswordDiv">
    <form class="layui-form" action="">
        <div class="layui-form" style="padding-top:30px;margin: 10px">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px">旧密码：</label>
                <div class="layui-input-block">
                    <input type="text" name="oldPassword" style="width: 200px" required lay-verify="required"
                           placeholder="请输入旧密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px">新密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="newPassword" id="password" required lay-verify="required"
                           style="width: 200px" placeholder="请输入新密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px">确认密码：</label>
                <div class="layui-input-block">
                    <input type="password" id="checkPassword" required lay-verify="required" style="width: 200px"
                           placeholder="确认密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="addBokerSubmit">立即提交</button>
                </div>
            </div>
        </div>
    </form>
</script>

<script>
    window.onload = function () {
        var userName = getCookie("userName");
        var userRole = getCookie("userRole");
        $("#userName").text(userName);
        if (userRole == 5) {
            $("#E").show();
            $("#B").show();
            $("#B3").show();
        } else if (userRole == 4) {
            $("#D").show();
        } else if (userRole == 3) {
            $("#O").show();
            $("#C").show();
            $("#C1").show();
            $("#C2").show();
            $("#C3").show();
        } else if (userRole == 2) {
            $("#B").show();
            $("#B1").show();
            $("#B2").show();
            $("#B3").show();
        } else if (userRole == 1) {
            $("#D").show();
            $("#B").show();
            $("#B1").show();
            $("#B2").show();
            $("#B3").show();
            $("#B4").show();
            $("#E").show();
            $("#C").show();
            $("#C1").show();
            $("#C2").show();
            $("#C3").show();
            $("#C4").show();
            $("#C5").show();
            $("#C6").show();
            $("#O").show();
            $("#Y").show();
            $("#X").show();
        }
    }

    function getCookie(name) {
        var arr = document.cookie.split('; ');
        var val = '';
        for (var i = 0; i < arr.length; i++) {
            if (arr[i].indexOf(name) != -1) {
                val = unescape(arr[i].split('=')[1]);
                break;
            }
        }
        return val;
    }

    var message;
    layui.config({
        base: '/build/js/'
    }).use(['app', 'message'], function () {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
        $('#pay').on('click', function () {
            layer.open({
                title: false,
                type: 1,
                content: '<img src="/build/images/pay.png" />',
                area: ['500px', '250px'],
                shadeClose: true
            });
        });
    });
</script>
<script>
    //        <a href="/editPassword">
    layui.use('table', function () {
        var form = layui.form
            , table = layui.table
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        $('#editPassword').on('click', function () {
            layer.open({
                type: 1
                , title: '修改密码'
                , offset: 'auto'
                , area: ['450px', '450px']
                , moveOut: true
                , resize: false
                , content: $('#editPasswordDiv').html()
                , success: function (layero, index) {
                    form.on('submit(addBokerSubmit)', function (obj) {
                        var p1 = $("#password").val();
                        var p2 = $("#checkPassword").val();
                        if (p1 != p2) {
                            layer.alert("两次密码输入不一致！");
                            return false;
                        }
                        $.ajax({
                            url: "/user/ui/EditPassword",
                            type: "POST",
                            data: {
                                oldPassword: obj.field.oldPassword,
                                newPassword: obj.field.newPassword
                            },
                            success: function (data) {
                                layer.alert("修改成功！");
                                location.reload();
                            }, error: function (log) {
                                layer.alert("修改失败！密码错误");
                            }
                        });
                        return false;
                    });
                }
            });
        });
    });
</script>
</body>

</html>