<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.AreasDao">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.Areas">
    <id column="id" property="id"/>
    <result column="city_id" property="cityId"/>
    <result column="area_name" property="areaName"/>
    <result column="alias" property="alias"/>
    <result column="pinyin" property="pinyin"/>
    <result column="abbr" property="abbr"/>
    <result column="zip" property="zip"/>
    <result column="is_del" property="isDel"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id, city_id, area_name, alias, pinyin, abbr, zip, is_del
  </sql>

</mapper>
