<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jushang.dao.BankDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jushang.entity.Bank">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="user_id" property="userId" />
		<result column="account_number" property="accountNumber" />
		<result column="bank_name" property="bankName" />
		<result column="name" property="name" />
		<result column="publish_time" property="publishTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, user_id, account_number, bank_name, name, publish_time
    </sql>

</mapper>
