<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.CollectGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.CollectGoods">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="user_id" property="userId" />
        <result column="publish_time" property="publishTime" />
    </resultMap>

  <select id="selectCollectList" resultType="com.jh.jsuk.entity.ShopGoods">
    select g.* from js_collect_goods cg join js_shop_goods g on cg.goods_id = g.id where cg.user_id = #{userId}
  </select>

</mapper>
