<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.CouponDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.Coupon">
        <id column="id" property="id" />
        <result column="manager_user_id" property="managerUserId" />
        <result column="full_price" property="fullPrice" />
        <result column="discount" property="discount" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="num" property="num" />
        <result column="is_del" property="isDel" />
        <result column="publish_time" property="publishTime" />
        <result column="coupon_type" property="couponType" />
        <result column="limiting_num" property="limitingNum" />
        <result column="coupon_name" property="couponName" />
        <result column="coupon_platform" property="couponPlatform" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, manager_user_id, full_price, discount, start_time, end_time, num, is_del, publish_time, coupon_type, limiting_num, coupon_name, coupon_platform
    </sql>

</mapper>
