<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.DistributionApplyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.DistributionApply">
        <id column="id" property="id" />
        <result column="bank_id" property="bankId" />
        <result column="money" property="money" />
        <result column="status" property="status" />
        <result column="user_id" property="userId" />
        <result column="desc" property="desc" />
        <result column="publish_time" property="publishTime" />
        <result column="poundage" property="poundage" />
        <result column="user_nick_name" property="userNickName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bank_id, money, status, user_id, desc, publish_time, poundage,user_nick_name
    </sql>

    <resultMap id="UserApplyVo" type="com.jh.jsuk.entity.vo.UserApplyVo" extends="BaseResultMap">
        <association property="user" column="user_id" select="com.jushang.dao.DistributionUserDao.selectById"></association>
        <association property="bank" column="bank_id" select="com.jushang.dao.BankDao.selectById"></association>
    </resultMap>

    <select id="selectPageByUserInfo" resultMap="UserApplyVo">
        SELECT
        t1.*
        FROM js_distribution_apply t1 LEFT JOIN js_distribution_user t2
        ON t1.user_id = t2.id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
