<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.HotAdvisoryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.HotAdvisory">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="img" property="img" />
        <result column="content" property="content" />
        <result column="rank" property="rank" />
        <result column="publish_time" property="publishTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, img, content, rank, publish_time
    </sql>

</mapper>
