<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.MarketCommentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.MarketComment">
        <id column="id" property="id" />
        <result column="comment" property="comment" />
        <result column="publish_time" property="publishTime" />
        <result column="comment_id" property="commentId" />
        <result column="user_id" property="userId" />
        <result column="activity_id" property="activityId" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, comment, publish_time, comment_id, user_id, activity_id, is_del
    </sql>

</mapper>
