<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jushang.dao.MessageDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jushang.entity.Message">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="msg_type" property="msgType" />
		<result column="relation_id" property="relationId" />
		<result column="publish_time" property="publishTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, msg_type, relation_id, publish_time
    </sql>

	<resultMap id="MessageVo" type="com.jushang.entity.vo.MessageVo" extends="BaseResultMap">
	</resultMap>

	<select id="selectVoPage" resultMap="MessageVo">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM t_message
		<where>
			${ew.sqlSegment}
		</where>
	</select>

</mapper>
