<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.NewsUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.NewsUser">
        <id column="id" property="id" />
        <result column="news_id" property="newsId" />
        <result column="received_id" property="receivedId" />
        <result column="is_read" property="isRead" />
        <result column="is_pushed" property="isPushed" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, news_id, received_id, status
    </sql>

  <select id="getNotPushed" resultType="com.jh.jsuk.entity.NewsUser">
      select * from js_news_user
      <where>
          ${ew.sqlSegment}
      </where>
      limit 500
  </select>

</mapper>
