<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jushang.dao.OrderGoodsDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jushang.entity.OrderGoods">
		<id column="id" property="id" />
		<result column="order_id" property="orderId" />
		<result column="goods_id" property="goodsId" />
		<result column="num" property="num" />
		<result column="publish_time" property="publishTime" />
		<result column="goods_size_id" property="goodsSizeId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, goods_id, num, publish_time, goods_size_id
    </sql>

	<resultMap id="OrderGoodsVo" type="com.jushang.entity.vo.OrderGoodsVo" extends="BaseResultMap">
		<association property="shopGoods" column="goods_id" select="com.jushang.dao.ShopGoodsDao.selectById"></association>
	</resultMap>

	<resultMap id="OrderGoodsNameVo" type="com.jushang.entity.vo.OrderGoodsNameVo" extends="BaseResultMap">
		<association property="shopGoods" column="goods_id" select="com.jushang.dao.ShopGoodsDao.selectVoById"></association>
	</resultMap>

	<select id="findVoByOrderId" resultMap="OrderGoodsNameVo">
		SELECT <include refid="Base_Column_List"/> FROM t_order_goods WHERE order_id = #{orderId}
	</select>

</mapper>
