<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jushang.dao.ServiceCentreDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jushang.entity.ServiceCentre">
		<id column="id" property="id" />
		<result column="classify_id" property="classifyId" />
		<result column="question" property="question" />
		<result column="answer" property="answer" />
		<result column="publish_time" property="publishTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, classify_id, question, answer, publish_time
    </sql>

</mapper>
