<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jushang.dao.ServiceCentreClassifyDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jushang.entity.ServiceCentreClassify">
		<id column="id" property="id" />
		<result column="classify_name" property="classifyName" />
		<result column="publish_time" property="publishTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, classify_name, publish_time
    </sql>

	<resultMap id="ServiceCentreClassifyVo" type="com.jushang.entity.vo.ServiceCentreClassifyVo" extends="BaseResultMap">
		<collection property="serviceCentreList" column="id" ofType="com.jushang.entity.ServiceCentre" select="com.jushang.dao.ServiceCentreDao.selectByClassifyId"></collection>
	</resultMap>

	<select id="selectVoList" resultMap="ServiceCentreClassifyVo">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM t_service_centre_classify
		<where>
			${ew.sqlSegment}
		</where>
	</select>

</mapper>
