<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShopRushBuyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.ShopRushBuy">
        <id column="id" property="id"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="is_del" property="isDel"/>
        <result column="is_use" property="isUse"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,`name`, start_time, end_time, is_del,is_use
    </sql>

    <resultMap id="ShopGoodsKillVo" type="com.jh.jsuk.entity.vo.ShopGoodsKillVo" extends="BaseResultMap">
        <result column="sales_price" property="salesPrice"/>
        <result column="original_price" property="originalPrice"/>
        <result column="kill_price" property="killPrice"/>
        <result column="kill_stock" property="killStock"/>
    </resultMap>

    <select id="getShopRushBuyList" resultMap="ShopGoodsKillVo">
        SELECT
        sgs.sales_price,
        sgs.original_price,
        sgs.kill_price,
        sgs.kill_stock,
        sg.*
        FROM
        js_shop_rush_buy_activity a
        LEFT JOIN js_shop_rush_buy srb ON a.rush_buy_id = srb.id
        LEFT JOIN js_shop_goods_size sgs ON sgs.id = a.goods_size_id
        LEFT JOIN js_shop_goods sg ON sgs.shop_goods_id = sg.id
        where a.rush_buy_id = #{rushBuyId}
        and sgs.kill_stock > 0
    </select>

</mapper>
