<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShopNoticeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.ShopNotice">
        <id column="id" property="id" />
        <result column="manager_id" property="managerId" />
        <result column="is_notice" property="isNotice" />
        <result column="is_new_notice" property="isNewNotice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, manager_id, is_notice, is_new_notice
    </sql>

</mapper>
