<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShopVisitDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.ShopVisit">
        <id column="id" property="id"/>
        <result column="shop_id" property="shopId"/>
        <result column="user_id" property="userId"/>
        <result column="publish_time" property="publishTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_id, user_id, publish_time
    </sql>

    <resultMap id="ShopVisitorVo" type="com.jh.jsuk.entity.vo.ShopVisitorVo" extends="BaseResultMap">
        <association property="user" column="user_id" select="com.jh.jsuk.dao.UserDao.findUserHeadImgById"></association>
    </resultMap>

    <select id="getVisitList" resultMap="ShopVisitorVo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM js_shop_visit
        WHERE
        shop_id = #{shopId}
        AND publish_time LIKE CONCAT('%', #{today}, '%')
        ORDER BY publish_time DESC
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
  <select id="getListShopVisit" resultMap="BaseResultMap">
    select *
    from js_shop_visit
    where shop_id=#{shopId}

  </select>

</mapper>
