<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShopRushBuyActivityDao">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.ShopRushBuyActivity">
    <id column="id" property="id"/>
    <result column="shop_id" property="shopId"/>
    <result column="rush_buy_id" property="rushBuyId"/>
    <result column="goods_id" property="goodsId"/>
    <result column="is_del" property="isDel"/>
    <result column="is_use" property="isUse"/>
    <result column="publish_time" property="publishTime"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
        id,shop_id, rush_buy_id, goods_id,is_del,is_use, publish_time
    </sql>

  <select id="findVoByGoodsId" resultType="com.jh.jsuk.entity.vo.RushBuyVo">
    select start_time,end_time from
    (select rush_buy_id from js_shop_rush_buy_activity where not is_del and is_use and goods_id = #{goodsId}) a
    left join
    (select id,start_time,end_time from js_shop_rush_buy where not is_del and is_use) t
    on a.rush_buy_id = t.id
    limit 1
  </select>


  <resultMap id="vo" type="com.jh.jsuk.entity.vo.rushbuy.ShopRushBuyActivityVO" extends="BaseResultMap">
    <association property="good" column="goods_id" select="com.jh.jsuk.dao.ShopGoodsDao.shortVo"/>
    <association property="time" column="rush_buy_id" select="com.jh.jsuk.dao.ShopRushBuyDao.shortVo"/>
    <association property="shop" column="shop_id" select="com.jh.jsuk.dao.ShopDao.shortVo"/>
  </resultMap>

  <select id="page" resultMap="vo">
    select <include refid="Base_Column_List"/> from js_shop_rush_buy_activity
    where not is_del
    <if test="shopId != null">
      and shop_id = #{shopId}
    </if>
  </select>

  <resultMap id="sizeVo" type="com.jh.jsuk.entity.vo.rushbuy.RushBuyActivityVO" extends="BaseResultMap">
    <collection property="sizes" column="goods_id"
                select="com.jh.jsuk.dao.ShopGoodsSizeDao.selectSizes"/>
  </resultMap>

  <select id="selectVo" resultMap="sizeVo">
    select <include refid="Base_Column_List"/> from js_shop_rush_buy_activity
    <where>
      ${ew.sqlSegment}
    </where>
  </select>


</mapper>
