<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jushang.dao.ShopApplyDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jushang.entity.ShopApply">
		<id column="id" property="id" />
		<result column="bank_id" property="bankId" />
		<result column="money" property="money" />
		<result column="status" property="status" />
		<result column="user_id" property="userId" />
		<result column="desc" property="desc" />
		<result column="publish_time" property="publishTime" />
		<result column="poundage" property="poundage" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bank_id, money, status, user_id, desc, publish_time,poundage
    </sql>

	<resultMap id="ShopApplyVo" type="com.jushang.entity.vo.ShopApplyVo" extends="BaseResultMap">
		<association property="user" column="user_id" select="com.jushang.dao.ShopUserDao.selectById"></association>
		<association property="shop" column="shop_id" select="com.jushang.dao.ShopDao.selectById"></association>
		<association property="bank" column="bank_id" select="com.jushang.dao.BankDao.selectById"></association>
	</resultMap>

	<select id="selectPageByUserInfo" resultMap="ShopApplyVo">
		SELECT
		 t1.*,t2.shop_id
		FROM t_shop_apply t1 LEFT JOIN t_shop_user t2
		ON t1.user_id = t2.id
		LEFT JOIN t_shop t3 ON t3.id=t2.shop_id
		<where>
			${ew.sqlSegment}
		</where>
	</select>
</mapper>
