<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShopDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.Shop">
        <id column="id" property="id"/>
        <result column="modular_id" property="modularId"/>
        <result column="head_img" property="headImg"/>
        <result column="shop_name" property="shopName"/>
        <result column="address" property="address"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="shop_img" property="shopImg"/>
        <result column="announcement" property="announcement"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="account_point" property="accountPoint"/>
        <result column="total_volume" property="totalVolume"/>
        <result column="delivery_fee" property="deliveryFee"/>
        <result column="star_num" property="starNum"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_id" property="cityId"/>
        <result column="area_id" property="areaId"/>
        <result column="publish_time" property="publishTime"/>
        <result column="can_use" property="canUse"/>
        <result column="is_recommend" property="isRecommend"/>
        <result column="content" property="content"/>
        <result column="discount_info" property="discountInfo"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, modular_id, head_img, shop_name, address, longitude, latitude, shop_img, announcement, start_time, end_time, account_point,
        total_volume, delivery_fee, star_num, province_id, city_id, area_id, publish_time, can_use, is_recommend, content, discount_info
    </sql>

    <resultMap id="ShopTelPhoneVo" type="com.jh.jsuk.entity.vo.ShopTelPhoneVo" extends="BaseResultMap">
        <result column="tel_phone" property="telPhone"/>
    </resultMap>

    <select id="getShopById" resultMap="ShopTelPhoneVo">
        SELECT
            s.*, mu.tel_phone
        FROM
            js_shop s
            LEFT JOIN js_manager_user mu
            ON s.id = mu.shop_id
        WHERE
            s.id = #{shopId}
    </select>

    <select id="findCollectByUserId" resultMap="BaseResultMap">
        SELECT
            t_shop.*
        FROM
            t_collect
            LEFT JOIN t_shop
            ON  t_collect.shop_id = t_shop.id
        WHERE user_id = #{userId}
        ORDER BY t_collect.publish_time DESC
    </select>

    <resultMap id="ShopPhoneVo" type="com.jh.jsuk.entity.vo.ShopPhoneVo" extends="BaseResultMap">
        <result column="phone" property="phone"/>
    </resultMap>


    <select id="selectShopPhoneById" resultMap="ShopPhoneVo">
        SELECT
            t_shop.*, phone
        FROM
            t_shop
            LEFT JOIN t_shop_user ON t_shop.id = t_shop_user.shop_id
        WHERE
            t_shop.id = #{id}
    </select>

</mapper>
