<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jushang.dao.ShoppingCartDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jushang.entity.ShoppingCart">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="shop_id" property="shopId" />
		<result column="goods_id" property="goodsId" />
		<result column="num" property="num" />
		<result column="publish_time" property="publishTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, shop_id, goods_id, num, publish_time
    </sql>

	<resultMap id="ShoppingCartVo" type="com.jushang.entity.vo.ShoppingCartVo" extends="BaseResultMap">
		<association property="goods" column="goods_id" select="com.jushang.dao.ShopGoodsDao.selectById"></association>
	</resultMap>

	<select id="selectVoList" resultMap="ShoppingCartVo">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM t_shopping_cart
		<where>
			${ew.sqlSegment}
		</where>
	</select>

</mapper>
