<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jushang.dao.ShopDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jushang.entity.Shop">
        <id column="id" property="id"/>
        <result column="head_img" property="headImg"/>
        <result column="shop_name" property="shopName"/>
        <result column="address" property="address"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="shop_img" property="shopImg"/>
        <result column="announcement" property="announcement"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="account_point" property="accountPoint"/>
        <result column="total_volume" property="totalVolume"/>
        <result column="delivery_fee" property="deliveryFee"/>
        <result column="star_num" property="starNum"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_id" property="cityId"/>
        <result column="area_id" property="areaId"/>
        <result column="publish_time" property="publishTime"/>
        <result column="can_use" property="canUse"/>
        <result column="is_recommend" property="isRecommend"/>
        <result column="modular_id" property="modularId"/>
        <result column="content" property="content"/>
        <result column="discount_info" property="discountInfo"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, head_img, shop_name, address, longitude, latitude, shop_img, announcement, start_time, end_time, account_point, total_volume,
         delivery_fee, star_num, province_id, city_id, area_id, publish_time, can_use, is_recommend, modular_id, discount_info, content
    </sql>
    <resultMap id="ShopPhoneVo" type="com.jushang.entity.vo.ShopPhoneVo" extends="BaseResultMap">
        <result column="phone" property="phone"/>
    </resultMap>

    <select id="selectShopPhoneById" resultMap="ShopPhoneVo">
        SELECT
            t_shop.*, phone
        FROM
            t_shop
            LEFT JOIN t_shop_user ON t_shop.id = t_shop_user.shop_id
        WHERE
            t_shop.id = #{id}
    </select>

    <resultMap id="ShopVo" type="com.jushang.entity.vo.ShopVo" extends="BaseResultMap">
        <collection property="goodsImgs" column="id" ofType="com.jushang.entity.vo.GoodsImg" select="com.jushang.dao.ShopGoodsDao.select5ByShopId"></collection>
    </resultMap>

    <select id="findByList" resultMap="ShopVo">
        SELECT
        t1.*
        FROM
        t_shop t1
        LEFT JOIN t_shop_goods t2 ON t1.id = t2.shop_id
        <where>
            <trim prefixOverrides="AND |OR">
                <if test="areaId == null and cityId != null">
                    AND city_id = #{cityId}
                </if>
                <if test="areaId != null">
                    AND area_id = #{areaId}
                </if>
                <if test="goodsLabelId != null">
                    AND t2.goods_label_id = #{goodsLabelId}
                </if>
                <if test="name != null">
                    AND (
                    shop_name LIKE CONCAT('%',#{name},'%')
                    OR goods_name LIKE CONCAT('%',#{name},'%')
                    )
                </if>
                AND curtime() BETWEEN start_time AND end_time
                AND t1.can_use = 1
            </trim>
        </where>
        GROUP BY
        t1.id
        ${rank}
    </select>

    <select id="findCollectByUserId" resultMap="BaseResultMap">
        SELECT t_shop.* FROM t_collect LEFT JOIN t_shop ON  t_collect.shop_id = t_shop.id
        WHERE user_id = #{userId} ORDER BY t_collect.publish_time DESC
    </select>

</mapper>
