<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShopRushBuySizeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.ShopRushBuySize">
        <id column="id" property="id" />
        <result column="rush_buy_id" property="rushBuyId" />
        <result column="goods_size_id" property="goodsSizeId" />
        <result column="is_del" property="isDel" />
        <result column="publish_time" property="publishTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rush_buy_id, goods_size_id, is_del, publish_time
    </sql>

    <resultMap id="shopRushBuySizeVo" type="com.jh.jsuk.entity.vo.ShopRushBuySizeVo" extends="BaseResultMap">
        <association property="goodsInfo" column="goods_size_id"
            select="com.jh.jsuk.dao.ShopGoodsSizeDao.findVoById"/>
    </resultMap>

    <select id="listPage" resultMap="shopRushBuySizeVo">
        select <include refid="Base_Column_List"/> from js_shop_rush_buy_size
        <where>
            ${ew.sqlSegment}
        </where>
    </select>





</mapper>
