<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShopGoodsSizeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.ShopGoodsSize">
        <id column="id" property="id"/>
        <result column="shop_goods_id" property="shopGoodsId"/>
        <result column="size_name" property="sizeName"/>
        <result column="stock" property="stock"/>
        <result column="original_price" property="originalPrice"/>
        <result column="sales_price" property="salesPrice"/>
        <result column="weight" property="weight"/>
        <result column="volume" property="volume"/>
        <result column="freight" property="freight"/>
        <result column="full_freight" property="fullFreight"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="is_del" property="isDel"/>
        <result column="img" property="img"/>
        <result column="brand" property="brand"/>
        <result column="send_jf" property="sendJf"/>
        <result column="deductible_jf" property="deductibleJf"/>
        <result column="goods_type_id" property="goodsTypeId"/>
        <result column="goods_no" property="goodsNo"/>
        <result column="kill_price" property="killPrice"/>
        <result column="kill_stock" property="killStock"/>
        <result column="detail_info" property="detailInfo"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_goods_id, size_name, stock, original_price, sales_price, weight, volume, freight, status, type, is_del, img, brand, send_jf,
        deductible_jf, goods_type_id, goods_no, kill_price, kill_stock, full_freight,detail_info
    </sql>

    <select id="getSalesPriceByGoodsId" resultType="String">
        SELECT
            sales_price
        FROM
            js_shop_goods_size
        WHERE
            shop_goods_id = #{goodsId}
        limit 0,1
    </select>

    <select id="getGoodsSizeByGoodsId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        js_shop_goods_size
        WHERE
        shop_goods_id=#{goodsId}
    </select>

    <select id="selectSizeByGoodsId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        js_shop_goods_size
        WHERE
        shop_goods_id=#{goodsId}
    </select>

    <resultMap id="shopGoodsSizeVo" type="com.jh.jsuk.entity.vo.ShopGoodsSizeVo">
        <association property="goodsInfo" column="shop_goods_id"
         select="com.jh.jsuk.dao.ShopGoodsDao.selectById"/>
    </resultMap>

    <select id="findVoById" resultMap="shopGoodsSizeVo">
        select <include refid="Base_Column_List"/> from js_shop_goods_size where id = #{shopGoodsSizeId}
    </select>

  <select id="selectRushBuyByGoodsSizeId" resultType="com.jh.jsuk.entity.ShopRushBuy">
      select * from js_shop_rush_buy where id =
      (select rush_buy_id from js_shop_rush_buy_activity a where not is_del and is_use and a.goods_size_id = #{goodsSizeId} limit 1)
  </select>
  <select id="getGoodsSizeByGoodsId2" resultType="com.jh.jsuk.entity.vo.ShopGoodsSizeRushBuyVo">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    js_shop_goods_size
    WHERE
    shop_goods_id=#{goodsId}
  </select>


</mapper>
