<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShopRushBuyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.ShopRushBuy">
        <id column="id" property="id"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="is_del" property="isDel"/>
        <result column="is_use" property="isUse"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, start_time, end_time, is_del,is_use
    </sql>

    <resultMap id="ShopGoodsKillVo" type="com.jh.jsuk.entity.vo.ShopGoodsKillVo" extends="BaseResultMap">
        <result column="sales_price" property="salesPrice"/>
        <result column="original_price" property="originalPrice"/>
        <result column="kill_price" property="killPrice"/>
        <result column="kill_stock" property="killStock"/>
    </resultMap>

    <select id="getShopRushBuyList" resultType="java.util.Map">
      select g.shop_id shopId,k.goods_id id,k.price,g.goods_name goodsName,g.main_image mainImage,g.sale_amont saleAmount from(
      select a.goods_id,GROUP_CONCAT(sz.kill_price) price from
      (select goods_id from js_shop_rush_buy_activity a where a.rush_buy_id = #{rushBuyId} and not a.is_del and a.is_use) a
      left join js_shop_goods_size sz on a.goods_id = sz.shop_goods_id
      where sz.kill_stock > 0
      group by a.goods_id
      ) k left join js_shop_goods g on k.goods_id = g.id
    </select>

</mapper>
