<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShopGoodsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.ShopGoods">
        <id column="id" property="id"/>
        <result column="shop_id" property="shopId"/>
        <result column="attribute_id" property="attributeId"/>
        <result column="shop_modular_id" property="shopModularId"/>
        <result column="brand_id" property="brandId"/>
        <result column="is_recommend" property="isRecommend"/>
        <result column="goods_label_id" property="goodsLabelId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="goods_img" property="goodsImg"/>
        <result column="goods_desc" property="goodsDesc"/>
        <result column="status" property="status"/>
        <result column="is_del" property="isDel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="main_image" property="mainImage"/>
        <result column="goods_break" property="goodsBreak"/>
        <result column="sale_amont" property="saleAmont"/>
        <result column="goods_type" property="goodsType"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_id, attribute_id, shop_modular_id, is_recommend, goods_label_id, goods_name, goods_img, goods_desc, status, is_del, create_time,
        update_time, main_image, goods_break, sale_amont, goods_type, category_id, brand_id
    </sql>

    <resultMap id="GoodsSalesPriceVo" type="com.jh.jsuk.entity.vo.GoodsSalesPriceVo" extends="BaseResultMap">
        <association property="salesPrice" column="id" select="com.jh.jsuk.dao.ShopGoodsSizeDao.getSalesPriceByGoodsId"></association>
    </resultMap>

    <select id="findShopGoodsByModularId" resultMap="GoodsSalesPriceVo">
        SELECT
           *
        FROM
            js_shop_goods
        WHERE
            is_recommend = '1'
        AND `status` = '1'
        AND is_del = '1'
        AND shop_modular_id = #{modularId}
        ORDER BY
            sale_amont DESC
        LIMIT 1,
         4
    </select>

    <select id="shopGoodsListByAttributeId" resultMap="GoodsSalesPriceVo">
        SELECT
        *
        FROM
        js_shop_goods
        WHERE
        `status` = '1'
        AND is_del = '1'
        <if test="attributeId != null ">
            AND attribute_id = #{attributeId}
        </if>
        ORDER BY
        sale_amont DESC
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="getShopGoodsByLikeName" resultMap="GoodsSalesPriceVo">
        SELECT
        *
        FROM
        js_shop_goods
        WHERE
        `status` = '1'
        AND is_del = '1'
        AND goods_name LIKE CONCAT('%', #{name}, '%')
        ORDER BY
        sale_amont DESC
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="getShopGoodsBy" resultMap="GoodsSalesPriceVo">
        SELECT
        *
        FROM js_shop_goods
        WHERE
        status = 1
        and is_del = 1
        <if test="type == 2">
            ORDER BY
            sale_amont DESC
        </if>
        <if test="type == 3">
            and goods_type = 3
            ORDER BY
            create_time DESC
        </if>
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <resultMap id="GoodsSalesPriceVoT" type="com.jh.jsuk.entity.vo.GoodsSalesPriceVo" extends="BaseResultMap">
        <result column="sales_price" property="salesPrice"/>
        <result column="original_price" property="originalPrice"/>
    </resultMap>

    <select id="getShopGoodsOrderBySalesPrice" resultMap="GoodsSalesPriceVoT">
        SELECT
        sg.*,sgs.sales_price
        FROM
        js_shop_goods sg
        LEFT JOIN js_shop_goods_size sgs ON sg.id = sgs.shop_goods_id
        <if test="type == 1">
            ORDER BY
            sgs.sales_price + 0 DESC
        </if>
        <if test="type == -1">
            ORDER BY
            sgs.sales_price + 0
        </if>
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="getShopGoodsOnCategoryBy" resultMap="GoodsSalesPriceVoT">
        SELECT
        sg.*,sgs.sales_price
        FROM
        js_shop_goods sg
        LEFT JOIN js_shop_goods_size sgs ON sg.id = sgs.shop_goods_id
        WHERE sg.category_id = #{categoryId}
        <if test="type == 1">
            ORDER BY
            sgs.sales_price + 0 DESC
        </if>
        <if test="type == -1">
            ORDER BY
            sgs.sales_price + 0
        </if>
        <if test="type == 2">
            ORDER BY
            sgs.sale_amont DESC
        </if>
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="getShopGoodsByCategoryId" resultMap="GoodsSalesPriceVoT">
        SELECT
        sg.*,sgs.sales_price
        FROM
        js_shop_goods sg
        LEFT JOIN js_shop_goods_size sgs ON sg.id = sgs.shop_goods_id
        WHERE sg.category_id = #{categoryId}
        ORDER BY sg.sale_amont DESC
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="getShopGoodsByServiceOrPrice" resultMap="GoodsSalesPriceVoT">
        SELECT
        sg.*,sgs.sales_price
        FROM
        js_shop_goods sg
        LEFT JOIN js_shop_goods_size sgs ON sg.id = sgs.shop_goods_id
        where sg.category_id = #{categoryId}
        <if test="goodsType != null ">
            and sg.goods_type = #{goodsType}
        </if>
        <if test="lowPrice != null ">
            and BETWEEN sg.#{lowPrice} AND sg.#{highPrice}
        </if>
        ORDER BY sg.sale_amont DESC
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <resultMap id="GoodsSizeVo" type="com.jh.jsuk.entity.vo.GoodsSizeVo" extends="BaseResultMap">
        <association property="shopGoodsSize" column="id" select="com.jh.jsuk.dao.ShopGoodsSizeDao.getGoodsSizeByGoodsId"></association>
    </resultMap>

    <select id="shopGoodsListByModularId" resultMap="GoodsSizeVo">
        SELECT
        *
        FROM js_shop_goods
        WHERE
        shop_modular_id = #{modularId}
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="getShopGoodsById" resultMap="GoodsSizeVo">
        SELECT
        *
        FROM js_shop_goods
        WHERE
        id = #{id}
    </select>

    <select id="getShopGoodsByBrandId" resultMap="GoodsSalesPriceVo">
        SELECT
        *
        FROM js_shop_goods
        WHERE
        brand_id = #{brandId}
        ORDER BY sale_amont DESC
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
