<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShopRushBuyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.ShopRushBuy">
        <id column="id" property="id"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, start_time, end_time, status
    </sql>

    <resultMap id="GoodsSalesPriceVo" type="com.jh.jsuk.entity.vo.GoodsSalesPriceVo" extends="BaseResultMap">
        <result column="sales_price" property="salesPrice"/>
        <result column="original_price" property="originalPrice"/>
    </resultMap>

    <select id="getShopRushBuyList" resultMap="GoodsSalesPriceVo">
        SELECT
        *
        FROM
        js_shop_rush_buy_size srbs
        LEFT JOIN js_shop_rush_buy srb ON srbs.rush_buy_id = srb.id
        LEFT JOIN js_shop_goods_size sgs ON sgs.id = srbs.goods_size_id
        LEFT JOIN js_shop_goods sg ON sgs.shop_goods_id = sg.id
        WHERE
        srb.start_time ge #{startTime}
        AND srb.end_time le #{endTime}
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
