<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShopAttributeGoodsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.ShopAttributeGoods">
        <id column="id" property="id"/>
        <result column="attribute_id" property="attributeId"/>
        <result column="shop_id" property="shopId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, attribute_id, shop_id
    </sql>

    <select id="getShopAttributeByShopId" resultType="com.jh.jsuk.entity.vo.ShopAttributeVo">
        SELECT
            sa.id,sa.`name`
        FROM
            js_shop_attribute_goods sag
        LEFT JOIN js_shop_attribute sa ON sag.attribute_id = sa.id
        WHERE
            shop_id = #{shopId}
        ORDER BY
            sort_order DESC
    </select>

</mapper>
