<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.ShoppingCartDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.ShoppingCart">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="shop_id" property="shopId" />
        <result column="goods_id" property="goodsId" />
        <result column="num" property="num" />
        <result column="create_time" property="createTime" />
        <result column="checked" property="checked" />
        <result column="is_past" property="isPast" />
        <result column="size_id" property="sizeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, shop_id, goods_id, num, create_time, checked, is_past, size_id
    </sql>
    <resultMap id="ShoppingCartVo" type="com.jh.jsuk.entity.vo.ShoppingCartVo" extends="BaseResultMap">
        <association property="goods" column="goods_id" select="com.jh.jsuk.dao.ShopGoodsDao.selectById"></association>
        <association property="shops" column="shop_id" select="com.jh.jsuk.dao.ManagerUserDao.selectById"></association>
        <association property="sizes" column="size_id" select="com.jh.jsuk.dao.ShopGoodsSizeDao.selectById"></association>
    </resultMap>

    <select id="selectVoList" resultMap="ShoppingCartVo">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM js_shopping_cart
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
