<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.SpecialThemeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.SpecialTheme">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="main_image" property="mainImage" />
        <result column="is_del" property="isDel" />
        <result column="rank" property="rank" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, main_image, is_del, rank
    </sql>

</mapper>
