<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jushang.dao.SpecialThemeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jushang.entity.SpecialTheme">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="is_del" property="isDel" />
        <result column="rank" property="rank" />
        <result column="shop_goods_id" property="shopGoodsId" />
        <result column="sales_price" property="salesPrice" />
        <result column="original_price" property="originalPrice" />
        <result column="main_image" property="mainImage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, is_del, rank, shop_goods_id, original_price, sales_price, main_image
    </sql>

</mapper>
