<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.UserTiXianDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.UserTiXian">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="manager_id" property="managerId" />
        <result column="bank_id" property="bankId" />
        <result column="num" property="num" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="is_del" property="isDel" />
        <result column="price" property="price" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, manager_id, bank_id, num, status, remark, is_del, price, create_time
    </sql>

  <resultMap id="UserTiXianVo" type="com.jh.jsuk.entity.vo.UserTiXianVo" extends="BaseResultMap">
    <result column="username" property="username" />
  </resultMap>

  <select id="selectByAdvance" resultMap="UserTiXianVo">
    select
    tixian.*,
    u.nick_name as username
    from
    js_user_ti_xian tixian
    join
    js_user u
    on tixian.user_id=u.id

    where is_del=0
    <where>
      <if test="tixianId!=null">
        id=#{tixianId}
      </if>
      <if test="begin!=null and end!=null">
        price between #{begin} and #{end}
      </if>
      <if test="status!=null">
        status=#{status}
      </if>
    </where>
  </select>

</mapper>
