<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.UserTiXianDao">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.UserTiXian">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="manager_id" property="managerId"/>
    <result column="bank_id" property="bankId"/>
    <result column="num" property="num"/>
    <result column="status" property="status"/>
    <result column="remark" property="remark"/>
    <result column="is_del" property="isDel"/>
    <result column="price" property="price"/>
    <result column="create_time" property="createTime"/>
    <result column="examine" property="examine"/>
    <result column="destination" property="destination"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
        id, user_id, manager_id, bank_id, num, status, remark, is_del, price, create_time,examine,destination
    </sql>

  <resultMap id="ShopUserTiXianVo" type="com.jh.jsuk.entity.vo.ShopUserTiXianVo" extends="BaseResultMap">
    <association property="shopUser" column="user_id"
                 select="com.jh.jsuk.dao.ShopUserDao.selectShopUserByMid"></association>
  </resultMap>

  <resultMap id="UserTiXianVo" type="com.jh.jsuk.entity.vo.UserTiXianVo" extends="BaseResultMap">
    <association property="bank" column="bank_id"
                 select="com.jh.jsuk.dao.UserBankDao.selectById"/>
  </resultMap>

  <!--查询用户提现列表-->
  <select id="selectByAdvance2" resultMap="UserTiXianVo">
    select
    tixian.*
    from js_user_ti_xian tixian
    where
    1=1
    <if test="tixianId!=null">
      and tixian.ti_xian_no like concat('%',#{tixianId},'%')
    </if>
    <if test="begin!=null and end!=null">
      and tixian.price between #{begin} and #{end}
    </if>
    <if test="begin!=null and end==null">
      and tixian.price>=#{begin}
    </if>
    <if test="status!=null">
      and tixian.status=#{status}
    </if>
    order by create_time desc
  </select>


  <!--查询商家提现列表-->
  <select id="selectByAdvance" resultMap="ShopUserTiXianVo">
    select
    tixian.*
    from
    js_user_ti_xian tixian
    join
    js_manager_user manager
    join
    js_shop shop
    join
    js_shop_user shopUser
    on
    tixian.user_id=shopUser.manager_user_id
    and
    shop.id=manager.shop_id
    and
    shopUser.manager_user_id=manager.id
    where
    1=1
    and manager.user_type=2
    <if test="tixianId!=null">
      and tixian.id=#{tixianId}
    </if>
    <if test="begin!=null and end!=null">
      and tixian.price between #{begin} and #{end}
    </if>
    <if test="begin!=null and end==null">
      and tixian.price>=#{begin}
    </if>
    <if test="status!=null">
      and tixian.status=#{status}
    </if>

  </select>

</mapper>
