<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.UserOrderDao">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.UserOrder">
    <id column="id" property="id"/>
    <result column="order_num" property="orderNum"/>
    <result column="order_price" property="orderPrice"/>
    <result column="full_reduce" property="fullReduce"/>
    <result column="coupon_reduce" property="couponReduce"/>
    <result column="integral_reduce" property="integralReduce"/>
    <result column="order_real_price" property="orderRealPrice"/>
    <result column="distribution_fee" property="distributionFee"/>
    <result column="distribution_time" property="distributionTime"/>
    <result column="distribution_type" property="distributionType"/>
    <result column="creat_time" property="creatTime"/>
    <result column="pay_time" property="payTime"/>
    <result column="pay_type" property="payType"/>
    <result column="status" property="status"/>
    <result column="is_unsubscribe" property="isUnsubscribe"/>
    <result column="is_evaluate" property="isEvaluate"/>
    <result column="is_shop_del" property="isShopDel"/>
    <result column="is_user_del" property="isUserDel"/>
    <result column="is_closed" property="isClosed"/>
    <result column="shop_id" property="shopId"/>
    <result column="address_id" property="addressId"/>
    <result column="user_id" property="userId"/>
    <result column="cancel_time" property="cancelTime"/>
    <result column="complete_time" property="completeTime"/>
    <result column="send_time" property="sendTime"/>
    <result column="coupon_id" property="couponId"/>
    <result column="order_type" property="orderType"/>
    <result column="logistics_no" property="logisticsNo"/>
    <result column="remark" property="remark"/>
    <result column="discount" property="discount"/>
    <result column="integral_rule_id" property="integralRuleId"/>
    <result column="full_reduce_id" property="fullReduceId"/>
    <result column="platform_number" property="platformNumber"/>
    <result column="goods_name" property="goodsName"/>
    <result column="freight" property="freight"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id, order_num, order_price, full_reduce, coupon_reduce, integral_reduce, order_real_price, distribution_fee, distribution_time, distribution_type, creat_time, pay_time, pay_type, status, is_unsubscribe, is_evaluate, is_shop_del, is_user_del, is_closed, shop_id, address_id, user_id, cancel_time, complete_time, send_time, coupon_id, order_type, logistics_no, remark, discount, integral_rule_id, full_reduce_id, platform_number, goods_name
  </sql>

  <resultMap id="UserOrderVo" type="com.jh.jsuk.entity.vo.UserOrderVo" extends="BaseResultMap">
    <association property="userName" column="user_id" select="com.jh.jsuk.dao.UserDao.userName"/>
    <association property="shop" column="shop_id"
                 select="com.jh.jsuk.dao.ShopDao.selectShopPhoneById"></association>
    <association property="distributionUser" column="distribution_user_id"
                 select="com.jh.jsuk.dao.DistributionUserDao.selectById"></association>
    <association property="coupon" column="coupon_id" select="com.jh.jsuk.dao.CouponDao.selectById"></association>
    <association property="address" column="address_id"
                 select="com.jh.jsuk.dao.UserAddressDao.selectById"></association>
    <collection property="goodsList" column="id" ofType="com.jh.jsuk.entity.vo.UserOrderGoodsVo"
                select="com.jh.jsuk.dao.UserOrderGoodsDao.findByOrderId"></collection>
  </resultMap>

  <select id="findVoByPage" resultMap="UserOrderVo">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM js_user_order
    <where>
      ${ew.sqlSegment}
    </where>
  </select>

  <select id="findVoById" resultMap="UserOrderVo">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM js_user_order
    WHERE
    id = #{id}
  </select>

  <resultMap id="UserOrderInfoVo" type="com.jh.jsuk.entity.vo.UserOrderInfoVo" extends="BaseResultMap">
    <association property="addressInfo" column="address_id" select="com.jh.jsuk.dao.UserAddressDao.selectById"/>
    <collection property="shopGoodsList" column="id" select="com.jh.jsuk.dao.UserOrderGoodsDao.orderGoodsDetail"/>
  </resultMap>

  <select id="getOrderByUserId" resultMap="UserOrderInfoVo">
    SELECT
    uo.id,
    uo.creat_time,
    uo.status,
    uo.is_closed,
    uo.send_time,
    uog.num,
    uog.goods_price,
    uog.order_type as orderType,
    uog.goods_size_id,
    uog.goods_id,
    uos.refund_reason,
    sgs.size_name,
    sgs.original_price,
    sgs.sales_price,
    sg.goods_name,
    sg.main_image,
    c.discount,
    s.shop_name
    FROM
    js_user_order_goods uog
    LEFT JOIN js_user_order uo ON uo.id = uog.order_id
    LEFT JOIN js_user_order_service uos ON uo.id = uos.order_id
    LEFT JOIN js_shop_goods_size sgs ON uog.goods_size_id = sgs.id
    LEFT JOIN js_shop_goods sg ON sgs.shop_goods_id = sg.id
    LEFT JOIN js_shop s ON sg.shop_id = s.id
    LEFT JOIN js_coupon c ON uo.coupon_id = c.id
    WHERE
    uo.user_id = #{userId}
    AND uo.is_user_del = 0
    AND uo.is_shop_del=0
    <if test="status != null">
      AND uo.status = #{status}
    </if>
    <if test="goodsName != null">
      AND sg.goods_name LIKE CONCAT('%', #{goodsName}, '%')
    </if>
    ORDER BY
    uo.creat_time DESC
    <where>
      ${ew.sqlSegment}
    </where>
  </select>

  <select id="getShopOrderByUserId" resultMap="UserOrderInfoVo">
    SELECT
    <include refid="Base_Column_List"/>
    from js_user_order uo
    WHERE
    uo.shop_id = #{shopId}
    <if test="status != null">
      AND uo.status = #{status}
    </if>
    ORDER BY
    uo.creat_time DESC
    <where>
      ${ew.sqlSegment}
    </where>
  </select>

  <resultMap id="UserOrderDetailVo" type="com.jh.jsuk.entity.vo.UserOrderDetailVo" extends="BaseResultMap">
    <association property="shop" column="shop_id"
                 select="com.jh.jsuk.dao.ShopDao.selectShopPhoneById"></association>
    <association property="distributionUser" column="distribution_user_id"
                 select="com.jh.jsuk.dao.DistributionUserDao.selectById"></association>
    <association property="coupon" column="coupon_id" select="com.jh.jsuk.dao.CouponDao.selectById"></association>
    <association property="addressInfo" column="address_id"
                 select="com.jh.jsuk.dao.UserAddressDao.selectById"></association>
    <collection property="shopGoodsList" column="id" ofType="com.jh.jsuk.entity.vo.UserOrderDetailVo"
                select="com.jh.jsuk.dao.UserOrderGoodsDao.orderGoodsDetail"></collection>
  </resultMap>

  <select id="userOrderDetail" resultMap="UserOrderDetailVo">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM js_user_order
    WHERE
    id = #{id}
  </select>


  <update id="updateStock">
    update js_shop_goods_size s
    set s.stock = s.stock - #{num}
    where s.id = #{goodsSizeId} and s.stock >= #{num}
  </update>

  <update id="updateKillStock">
    update js_shop_goods_size s
    set s.kill_stock = s.kill_stock - #{num}
    where s.id = #{goodsSizeId} and s.kill_stock >= #{num}
  </update>
  <resultMap id="AfterSaleVo" type="com.jh.jsuk.entity.vo.AfterSaleVo">
    <result column="shop_phone" property="shopPhone"/>
    <association property="address" column="address_id" select="com.jh.jsuk.dao.UserAddressDao.selectById"/>
  </resultMap>
  <select id="getAddressAndPhone" resultMap="AfterSaleVo">
    SELECT
      ua.id    as address_id,
      mu.phone as shop_phone
    FROM
      js_user_order uo
      LEFT JOIN js_user_address ua ON uo.address_id = ua.id
      LEFT JOIN js_shop_user su ON uo.shop_id = su.shop_id
      LEFT JOIN js_manager_user mu ON su.manager_user_id = mu.id
    WHERE uo.id = #{orderId}
  </select>

</mapper>
