<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.UserCouponDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.UserCoupon">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="coupon_id" property="couponId" />
        <result column="is_used" property="isUsed" />
        <result column="publish_time" property="publishTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, coupon_id, is_used, publish_time
    </sql>

    <resultMap id="userCouponVo" type="com.jh.jsuk.entity.vo.UserCouponVo" extends="BaseResultMap">
        <association property="couponInfo" column="coupon_id"
            select="com.jh.jsuk.dao.CouponDao.selectById"></association>
    </resultMap>

  <select id="findByUserId" resultMap="userCouponVo">
      select uc.id, uc.user_id, uc.coupon_id, uc.is_used, uc.publish_time from js_user_coupon uc
      left join js_coupon c on c.id = uc.coupon_id  where user_id = #{userId}
      and not is_used
      and c.end_time > #{date}
  </select>

  <select id="listByUserShopId" resultMap="userCouponVo">
      select uc.id, uc.user_id, uc.coupon_id, uc.is_used, uc.publish_time from js_user_coupon uc
      left join js_coupon c on c.id = uc.coupon_id  where user_id = #{userId} and c.shop_id = #{shopId}
      and not is_used
      and c.end_time > #{date}
  </select>

</mapper>
