<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.UserRemainderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.UserRemainder">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="type" property="type"/>
        <result column="remainder" property="remainder"/>
        <result column="user_id" property="userId"/>
        <result column="is_ok" property="isOk"/>
        <result column="member_id" property="memberId"/>
        <result column="id_del" property="idDel"/>
        <result column="order_num" property="orderNum"/>
        <result column="platform_number" property="platformNumber"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, type, remainder, user_id, is_ok, member_id, id_del, order_num, platform_number
    </sql>

</mapper>
