<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.UserOrderServiceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.UserOrderService">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="refund_reason" property="refundReason" />
        <result column="type" property="type" />
        <result column="content" property="content" />
        <result column="image" property="image" />
        <result column="price" property="price" />
        <result column="size_id" property="sizeId" />
        <result column="address_id" property="addressId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, refund_reason, type, content, image, price, size_id, address_id
    </sql>

</mapper>
