<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jushang.dao.UserWishDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jushang.entity.UserWish">
		<id column="user_id" property="userId" />
		<result column="wish_id" property="wishId" />
		<result column="publish_time" property="publishTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, wish_id, publish_time
    </sql>

</mapper>
