<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.UserOrderServiceDao">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.UserOrderService">
    <id column="id" property="id"/>
    <result column="service_code" property="serviceCode"/>
    <result column="user_name" property="userName"/>
    <result column="user_phone" property="userPhone"/>
    <result column="order_id" property="orderId"/>
    <result column="shop_id" property="shopId"/>
    <result column="refund_reason" property="refundReason"/>
    <result column="shop_comment" property="shopComment"/>
    <result column="type" property="type"/>
    <result column="status" property="status"/>
    <result column="content" property="content"/>
    <result column="image" property="image"/>
    <result column="price" property="price"/>
    <result column="goods_id" property="goodsId"/>
    <result column="size_id" property="sizeId"/>
    <result column="address_id" property="addressId"/>
    <result column="create_time" property="createTime"/>
    <result column="complete_time" property="completeTime"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id, service_code, user_name, user_phone, order_id, shop_id, refund_reason, shop_comment,
    `type`, status, content, image, price, goods_id, size_id, address_id, create_time, complete_time
  </sql>

  <resultMap id="vo" type="com.jh.jsuk.entity.vo.UserOrderServiceVo">
    <association property="orderInfo" column="order_id"
                 select="com.jh.jsuk.dao.UserOrderDao.selectById"/>
    <association property="sizeInfo" column="size_id"
                 select="com.jh.jsuk.dao.ShopGoodsSizeDao.findVoById"/>
  </resultMap>

  <select id="getVo" resultMap="vo">
    select
    <include refid="Base_Column_List"/>
    from js_user_order_service where id = #{id}
  </select>

</mapper>
