<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.jsuk.dao.VersionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jh.jsuk.entity.Version">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="code" property="code" />
        <result column="os_type" property="osType" />
        <result column="app_type" property="appType" />
        <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, version, code, os_type, app_type, url
    </sql>

</mapper>
