<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>首页设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>
</head>
<body>
<div class="demoTable" style="margin-top: 5px; margin-left: 10px;">
    <button class="layui-btn" id="addRole">新增</button>
    <button class="layui-btn" id="editRole">编辑</button>
    <button class="layui-btn" id="delRole">删除</button>
</div>
<table class="layui-table" id="table_dict" lay-data="{id: 'testReload'}" lay-filter="user"></table>

<script type="text/javascript" src="/plugins/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/res/js/common.js" charset="utf-8"></script>
<script type="text/javascript"  src="/zTree/js/jquery.ztree.all.min.js" charset="utf-8"/>
<script type="text/javascript"  src="/zTree/js/jquery.ztree.all.min.js" charset="utf-8"/>

<script type="text/html" id="can_use">
    <input style="width: 40px" type="checkbox" name="canUse" lay-skin="switch" data-id="{{d.id}}"
           data-phone="{{d.phone}}" lay-filter="can_use" lay-text="ON|OFF" value="{{d.canUse}}" {{ d.canUse== 1
           ? 'checked' : '' }}>
</script>
<div  id="addNewDict" style="display: none">
    <form class="layui-form" action="">
        <div class="layui-form" style="padding-top:30px;margin: 10px">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称：</label>
                <div class="layui-input-block" style="width: 180px">
                    <input type="text" name="roleName" required lay-verify="required" placeholder="请输入角色名称"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色标识：</label>
                <div class="layui-input-block" style="width: 180px">
                    <input type="text" name="roleSign" required lay-verify="required" placeholder="请输入角色标识"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属分组：</label>
                <div class="layui-input-block">
                    <select name="grouptId" lay-filter="groupts">
                        <option th:each="groupt :${groupts}" th:value="${groupt.id}" th:text="${groupt.groupName}"/>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block" style="width: 180px">
                    <input type="text" name="remark" required lay-verify="required" placeholder="请输入备注"
                           autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">菜单权限：</label>
                <div class="layui-input-block" lay-filter="menus" style="width: 180px">
                    <div id="LAY-auth-tree-index" class="layui-inline"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="addRoleSubmit">立即提交</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    function refrersh() {
        window.location.Reload();
    }
    layui.use('table', function () {
        var table = layui.table
            , form = layui.form;
        //方法级渲染
        table.render({
            elem: '#table_dict'
            , url: '/sys/role/list'
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'roleId', width: 180, title: 'ID', sort: true}
                , {field: 'grouptName', width: 160, title: '所属分组'}
                , {field: 'roleName', width: 220, title: '角色名称'}
                , {field: 'roleSign', width: 220, title: '角色标识'}
                , {field: 'remark', width: 220, title: '备注'}
                , {field: 'nickName', width: 160, title: '创建用户'}
                , {field: 'gmtCreate', width: 160, title: '创建时间'}
                , {field: 'gmtModified', width: 160, title: '修改时间'}
            ]]
            , id: 'testReload'
            , page: true
            , limit: 10
            , height: 'full-65'
        });


        form.on('switch(can_use)', function (obj) {
            var id = this.getAttribute("data-id");
            var canUse = obj.value == 1 ? 0 : 1;
            $.ajax({
                url: "/user/ui/editAdmin",
                type: "Post",
                data: {
                    id: id,
                    canUse: canUse
                },
                success: function (data) {
                    location.reload();
                },
                error: function (data2) {
                }
            });
        });
        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: $('#page').val, //重新从第 1 页开始
                    }
                    , where: {
                        phone: demoReload.val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $('#delRole').on('click', function () {
            var checkStatus = table.checkStatus('testReload');
            //alert(JSON.stringify(checkStatus));
            if (checkStatus.data.length != 1) {
                meMsg("请选择一行数据");
                return;
            }
            topLayer().confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            }, function (index) {
                close(index)
                $.ajax({
                    url: "/sys/delRole?id=" + checkStatus.data[0].roleId,
                    success: function (data) {
                        if (data.code == '1001') {
                            active.reload();
                        }
                        meAlert(data.msg);
                    }
                });
            });
        });
        $('#addRole').on('click', function () {
            layer.open({
                type: 1
                , title: '新增'
                , offset: 'auto'
                , area: ['550px', '450px']
                , moveOut: true
                , resize: false
                , content: $('#addNewDict').html()
                , success: function (layero, index) {

                    form.render('select');
                    form.on('submit(addRoleSubmit)', function (obj) {
                        $.ajax({
                            url: "/sys/addRole",
                            type: "Post",
                            data: obj.field,
                            success: function (data) {
                                meMsg(data.msg);
                                location.reload();
                            },
                            error: function (data2) {
                            }
                        });
                        return false;
                    });
                }
            });
        });

    });
</script>

<!--<script>

    layui.config({
        base: '/plugins/',
    }).extend({
        authtree: 'authtree',
    });
    layui.use(['jquery', 'authtree'], function () {
        var $ = layui.jquery;
        var authtree = layui.authtree;
        var roleId = $("#roleId").val();
        $.ajax({
            url: '/menu//sys/queryList',
            data: {roleId: roleId},
            dataType: 'json',
            success: function (data) {
                // 渲染时传入渲染目标ID，树形结构数据（具体结构看样例，checked表示默认选中），以及input表单的名字
                authtree.render('#LAY-auth-tree-index', data.data.trees, 'authids[]');
                // 监听自定义lay-filter选中状态，PS:layui现在不支持多次监听，所以扩展里边只能改变触发逻辑，然后引起了事件冒泡延迟的BUG，要是谁有好的建议可以反馈我
                form.on('checkbox(lay-check-auth)', function (data) {
                    // 注意这里：需要等待事件冒泡完成，不然获取叶子节点不准确。
                    setTimeout(function () {
                        // 获取选中的叶子节点
                        var leaf = authtree.getLeaf('#LAY-auth-tree-index');
                        console.log(leaf);
                    }, 100);
                });
            }
        })
    });
</script>-->
<script>
    var zNodes;
    var setting = {
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        }
    };

    //当页面加载完毕，向后台发送ajax请求，获取用户id为1的用户所拥有的权限
    function loadPower(roleId) {
        $.ajax({
            type: "post",
            url: "${basePath}/admin/role/detailsPermission",
            data: {"roleId": roleId},
            async: false,
            dataType: "json",
            success: function (data) {
                zNodes = data.data;
            }
        })
    }

    $(function () {
        // 授权树初始化
        var setting = {
            data: {
                key: {
                    title: "t"
                },
                simpleData: {
                    enable: true
                }
            },
            check: {//使用ztree选中效果
                enable: true
            }
        };
        //页面加载完毕时加载此方法
        $(document).ready(function () {
            var id = $("#roleId").val();
            loadPower(id);
            $.fn.zTree.init($("#functionTree"), setting, zNodes);
        });
        //确定添加按钮
        $("#btn_submit").click(function () {
            if (checkHousetype()) {
                //获得ztree对象
                var treeObj = $.fn.zTree.getZTreeObj("functionTree");
                //获得当前ztree对象选中的节点数组
                var nodes = treeObj.getCheckedNodes(true);//在提交表单之前将选中的checkbox收集
                //循环数组，获得节点的ID，拼接成字符串使用逗号分隔
                var array = new Array();
                for (var i = 0; i < nodes.length; i++) {
                    array.push(nodes[i].id);
                }
                var ids = array.join(",");
                $("input[name=funcitonIds]").val(ids);

                var formData = new FormData($("#formproject")[0]);
                $.ajax({
                    type: "POST",
                    url: "/menu//sys/queryList",
// 						data : $("#formproject").serialize(),
                    data: formData,
                    contentType: false,
                    processData: false,
                    statusCode: {
                        200: function () {
                            layer.msg('编辑角色成功!', {icon: 6, time: 1500}, function () {
                                history.go(-1);
                            })
                        },
                        400: function () {
                            layer.msg('提交的参数不合法', {time: 1500}, function () {
                                window.location.reload();
                            });
                        },
                        500: function () {
                            layer.msg('网络异常，请稍候再试!', {time: 1500}, function () {
                                window.location.reload();
                            });
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>