<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>文章列表--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />
	<script type="text/javascript" src="/diyUpload/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/diyUpload/css/webuploader.css">
	<link rel="stylesheet" type="text/css" href="/diyUpload/css/diyUpload.css">
	<script type="text/javascript" src="/diyUpload/js/webuploader.html5only.min.js"></script>
	<script type="text/javascript" src="/diyUpload/js/diyUpload.js"></script>
	<!--<link rel="stylesheet" href="/build/css/news.css" media="all" />-->
	<style>
		#editor2, #editor4{
			height: 200px;
			border: 1px solid #ccc;
		}
	</style>
</head>
<body>
<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>

<script type="text/javascript" src="/plugins/layui/layui.js"  charset="utf-8"></script>


<script type="text/html" id="isEdit">
	{{#  if(d.isEdit == 0){ }}
	否
	{{#  } else if(d.isEdit == 1){ }}
	是
	{{# } }}
</script>
<script type="text/html" id="refuse">
	<ul class="layui-form" style="margin: 10px;">
		<input type="text" id="refuseId" name="id" readonly="readonly" style="display: none">
		<div class="layui-form-item" >
			<label class="layui-form-label">描述</label>
			<div class="layui-input-block">
				<input type="text" name="desc" required value="{{d.desc}}"  lay-verify="required" placeholder="请输入描述" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item" >
			<label class="layui-form-label">值</label>
			<div class="layui-input-block">
				<textarea name="value" required  lay-verify="required" placeholder="请输入内容" class="layui-textarea">{{d.value}}</textarea>
			</div>
		</div>

		<li class="layui-form-item" style="text-align:center;">
			<button type="submit" lay-submit lay-filter="*" class="layui-btn">提交</button>
		</li>
	</ul>
</script>
<script type="text/html" id="poundageDiv">
	<ul class="layui-form" style="margin: 10px;">
		<input type="text" id="poundageId" name="id" readonly="readonly" style="display: none">
		<div class="layui-form-item" >
			<label class="layui-form-label">描述</label>
			<div class="layui-input-block">
				<input type="text" name="desc" required value="{{d.desc}}"  lay-verify="required" placeholder="请输入描述" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item" >
			<label class="layui-form-label">值</label>
			<div class="layui-input-block">
				<input type="number" name="value" required value="{{d.value}}" lay-verify="required" style="width: 50px;display: inline-block" placeholder="请输入百分比" class="layui-input">%
			</div>
		</div>

		<li class="layui-form-item" style="text-align:center;">
			<button type="submit" lay-submit lay-filter="upPoundage" class="layui-btn">提交</button>
		</li>
	</ul>
</script>
<script type="text/html" id="sensitiveWordsDiv">
	<ul class="layui-form" style="margin: 10px;">
		<div class="layui-form-item" >
			<label class="layui-form-label">描述</label>
			<div class="layui-input-block">
				<input type="text" name="desc" required value="{{d.desc}}"  lay-verify="required" placeholder="请输入描述" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item" >
			<label class="layui-form-label">值</label>
			<div class="layui-input-block">
				<span style="line-height: 38px">请输入敏感词。多个词语中间用  ‘、’  顿号隔开</span>
			</div>
		</div>
		<div class="layui-form-item" >
			<label class="layui-form-label">值</label>
			<div class="layui-input-block">
				<textarea name="value" required  lay-verify="required" placeholder="请输入内容" class="layui-textarea">{{d.value}}</textarea>
			</div>
		</div>

		<li class="layui-form-item" style="text-align:center;">
			<button type="submit" lay-submit lay-filter="swSubmit" class="layui-btn">提交</button>
		</li>
	</ul>
</script>
<script type="text/html" id="imgDiv">
	<ul class="layui-form" style="margin: 10px;">
		<input type="text" id="pId" name="id" readonly="readonly" style="display: none">
		<div class="layui-form-item" >
			<label class="layui-form-label">描述</label>
			<div class="layui-input-block">
				<input type="text" name="desc" required value="{{d.desc}}"  lay-verify="required" placeholder="请输入描述" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">预览</label>
			<div class="layui-input-block">
				<img style="width: 100px;height: 100px;" id="upDeImg" src="" alt="">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">图片</label>
			<div class="layui-input-block">
				<div id="upload2"></div>
				<input type="text" id="headImg" name="value" readonly="readonly" style="display: none">
			</div>
		</div>
		<li class="layui-form-item" style="text-align:center;">
			<button type="submit" lay-submit lay-filter="upImg" class="layui-btn">提交</button>
		</li>
	</ul>
</script>

<script>
    layui.use('table', function(){
        var table = layui.table;

        //方法级渲染
        table.render({
            elem: '#LAY_table_user'

            ,url: '/dictionary/ui/list'
            ,cols: [[
                /*{checkbox: true, fixed: true},*/
                {field:'id', width:80, title: 'ID', sort: true}
                ,{field:'desc', width:180, title: '描述'}
                ,{field:'value', width:200, title: '值'}
                ,{field:'code', width:150, title: '代码'}
                ,{field:'isEdit', width:120, title: '是否可修改',templet:'#isEdit'}
                ,{field:'publishTime', width:165, title: '添加时间'}
                ,{fixed: 'right', width:150, align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
            ]]
            ,id: 'testReload'
            ,page: true
			,limit: 10
            ,height: 'full-65'
        });

    });
</script>

<script type="text/html" id="barDemo">
	{{#  if(d.code == 'poundage_configuration'){ }}
	<a class="layui-btn layui-btn-mini" lay-event="poundage_configuration">编辑手续费</a>
	{{#  } else if(d.code == 'sensitive_words'){ }}
	<a class="layui-btn layui-btn-mini" lay-event="sensitive_words">添加敏感词</a>
	{{#  } else if(d.code == 'img_url'||d.code=='user_default_img'){ }}
	<a class="layui-btn layui-btn-mini" lay-event="img_url">编辑图片</a>
	{{#  } else { }}
	<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
	{{# } }}
</script>

<script>
    //监听工具条
    layui.use('table', function(){

        var table = layui.table,form = layui.form,laytpl = layui.laytpl,$ = layui.$;
		table.on('tool(user)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
			var data = obj.data; //获得当前行数据
			var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			var tr = obj.tr; //获得当前行 tr 的DOM对象

			if(layEvent === 'edit'){ //编辑
                layer.open({
                    type: 1
                    ,title:'更新配置'
                    ,area: '300px'
                    ,resize: false
                    ,content: laytpl($('#refuse').html()).render(data)
                    ,success: function(layero,index){
                        $("#refuseId").val(data.id);
                        layero.find('.layui-layer-content').css('overflow', 'visible');
                        form.render().on('submit(*)', function(datas){
                            datas.field.id = data.id
                            $.ajax({
                                url:'/dictionary/ui/edit',
                                type:'POST',
                                dataType:'json',
                                data:datas.field,
                                success:function (res) {
                                    console.log(res);
                                    if(res.code < 2000){
                                        /*obj.update({
                                            status: '审核拒绝',
                                            desc: datas.field.desc
                                        });*/
                                        table.reload('testReload', {
                                            page: {
                                                curr: $('#page').val, //重新从第 1 页开始
                                            }
                                        });
                                    }else {
                                        layer.msg(res.msg);
                                    }
                                }
                            })
                            layer.close(index);
                        });
                    }
                });
			}else if(layEvent === 'img_url'){
                layer.open({
                    type: 1
                    ,title:'上传图片'
                    ,area: ['400px','300px']
                    ,resize: false
                    ,content: laytpl($('#imgDiv').html()).render(data)
                    ,success: function(layero,index){
						$("#upDeImg").attr("src","http://youmehe.oss-cn-beijing.aliyuncs.com/image/"+data.value);
                        $("#pId").val(data.id);
                        var imgs = "";
                        $('#upload2').diyUpload({
                            url:'/uploads',
                            fileNumLimit:1,
                            preImgUrl:'http://youmehe.oss-cn-beijing.aliyuncs.com/image/',
                            imgs:data.img?data.img.split(","):null,
                            success:function( data ) {
                                for(var i in data.data){
                                    imgs+=","+data.data[i];
                                }
                                if(imgs[0] == ','){
                                    imgs = imgs.substring(1,imgs.length);
                                }
                                $("#headImg").val(imgs);
                            },
                            error:function( err ) {
                                console.info( err );
                            }
                        });
                        form.render().on('submit(upImg)', function(datas){
                            datas.field.id = data.id
                            $.ajax({
                                url:'/dictionary/ui/edit',
                                type:'POST',
                                dataType:'json',
                                data:datas.field,
                                success:function (res) {
                                    console.log(res);
                                    if(res.code < 2000){
                                        /*obj.update({
                                            status: '审核拒绝',
                                            desc: datas.field.desc
                                        });*/
                                        table.reload('testReload', {
                                            page: {
                                                curr: $('#page').val, //重新从第 1 页开始
                                            }
                                        });
                                    }else {
                                        layer.msg(res.msg);
                                    }
                                }
                            })
                            layer.close(index);
                        });
                    }
                });
			}else if(layEvent === 'poundage_configuration'){
                layer.open({
                    type: 1
                    ,title:'修改手续费'
                    ,area: ['400px','300px']
                    ,resize: false
                    ,content: laytpl($('#poundageDiv').html()).render(data)
                    ,success: function(layero,index){
                        $("#poundageId").val(data.id);
                        form.render().on('submit(upPoundage)', function(datas){
                            datas.field.id = data.id
                            $.ajax({
                                url:'/dictionary/ui/edit',
                                type:'POST',
                                dataType:'json',
                                data:datas.field,
                                success:function (res) {
                                    console.log(res);
                                    if(res.code < 2000){
                                        /*obj.update({
                                            status: '审核拒绝',
                                            desc: datas.field.desc
                                        });*/
                                        table.reload('testReload', {
                                            page: {
                                                curr: $('#page').val, //重新从第 1 页开始
                                            }
                                        });
                                    }else {
                                        layer.msg(res.msg);
                                    }
                                }
                            })
                            layer.close(index);
                        });
                    }
                });
            }else if(layEvent === 'sensitive_words'){
                layer.open({
                    type: 1
                    ,title:'添加敏感词'
                    ,area: ['500px','350px']
                    ,resize: false
                    ,content: laytpl($('#sensitiveWordsDiv').html()).render(data)
                    ,success: function(layero,index){
                        form.render().on('submit(swSubmit)', function(datas){
                            datas.field.id = data.id
                            $.ajax({
                                url:'/dictionary/ui/edit',
                                type:'POST',
                                dataType:'json',
                                data:datas.field,
                                success:function (res) {
                                    console.log(res);
                                    if(res.code < 2000){
                                        table.reload('testReload', {
                                            page: {
                                                curr: $('#page').val, //重新从第 1 页开始
                                            }
                                        });
                                    }else {
                                        layer.msg(res.msg);
                                    }
                                }
                            })
                            layer.close(index);
                        });
                    }
                });
            }
		});
    });
</script>
<script type="text/javascript" src="/edit/wangEditor.min.js"></script>
</body>
</html>